{% form_theme form _self %}

{% block form_row %}
    <div class="form_row" style="margin: .25em 0">
        {{ form_errors(form) }}
        <div class="flex-row" style="align-items: center;">
            {{ form_label(form) }}
            {{ form_widget(form) }}
        </div>
    </div>
{% endblock form_row %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
        <ul>
            {% for error in errors %}
                <li style="color:red;">{{ error.message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}