{% extends "layout.html.twig" %}

{% block detail %}
    <ul class="record_actions">
        {{ form(form) }}
    </ul>
{% endblock detail %}

{% block sidebar %}
    <h3><a href="{{ path('app_level') }}">View All Levels</a></h3>
{% endblock sidebar %}
