{% trans_default_domain 'FOSUserBundle' %}

<div id="top-form-container" style="width: 500px; max-width: 100%;">
    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
        <div style="margin: 0 0 1em 1em">
            {{ form_widget(form) }}
        </div>
        <div>
            <input type="submit" value="{{ 'change_password.submit'|trans }}" />
        </div>
    {{ form_end(form) }}
</div>