{% extends "layout.html.twig" %}

{% set namingtypes = entities %}

{% block detail %}
    <ul>
        {% for namingtype in namingtypes %}
        <li>
            <a href="{{ path('app_naming_type_show', { 'id': namingtype.id }) }}">{{ namingtype }}</a>
        </li>
        {% endfor %}
    </ul>
    <ul>
        <li>Homotypic</li>
        <li>Heterotypic</li>
        <li>Junior</li>
        <li>Senior</li>
        <li>Objective</li>
        <li>Subjective</li>
    </ul>
{% endblock detail %}

{% block adminlnks %}
    {% if is_granted('ROLE_ADMIN') %}
        <h3>Admin Links</h3>
        <a href="{{ path('app_naming_type_new') }}">Add Naming Type</a>
    {% endif %}
{% endblock adminlnks %}
