# Cache and logs
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/log
/var/log/*
!var/log/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep

# Managed by Composer
/bin/*
!bin/console
/vendor/

# Node modules
/node_modules/
/yarn-error.log

# Generated assets
/public/build/*

# PHPUnit
/app/phpunit.xml
/phpunit.xml

# Build data
/build/

# Composer PHAR
/composer.phar
/composer-setup.php
composer.lock

# Local Files
/public/uploads/publications/*
/public/uploads/issue_screenshots/*
/dev/local/*
*.sublime-project
*.sublime-workspace
*.DS_Store
.DS_Store

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> behat/symfony2-extension ###
# behat.yml
###< behat/symfony2-extension ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
