# Cache and logs
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php

# Parameters 
/app/config/parameters_prod.yml
/app/config/parameters.yml
/app/config/parameters.ini
 
# Managed by Composer
/var/bootstrap.php.cache
/bin/*
!bin/console
/vendor/
/web/config.php

# Assets and user uploads
/web/bundles/*
!/web/bundles/app
/web/uploads/taxon/*

# Node modules
/node_modules/
/yarn-error.log

# Generated assets
/web/build/*

# PHPUnit
/app/phpunit.xml
/phpunit.xml

# Build data
/build/

# Composer PHAR
/composer.phar
/composer-setup.php
composer.lock

# Local Files
/assets/hide/*
/assets/uploads/publications/*
*.sublime-project
*.sublime-workspace
*.DS_Store
.DS_Store
