{% extends "layout.html.twig" %}

{% block headline %}batplant.org links{% endblock %}

{% block detail %}
	<div id="introtext">
       
        <h3>other biodiversity information sites</h3>

        <p>
        <a href="http://www.tdwg.org/" target="_blank">Biodiversity Information Standards Website</a><br /><br />
        <a href="http://www.catalogueoflife.org/" target="_blank">Catalogue of Life</a><br /><br />
        <a href="http://www.gbif.org/" target="_blank">Global Biodiversity Information Facility</a>
        </p>
        
        <h3>videos about biodiversity standards</h3>

        <p>

        <a href="http://youtu.be/ehHNUt5qUqI" target="_blank">Biodiversity Information Standards Overview</a><br /><br />
        <a href="http://youtu.be/yA_9zofX1ME" target="_blank">Life Science Identifiers</a><br /><br />
        <a href="http://youtu.be/PSzL2NwRemU" target="_blank">Taxonomy Comes of Technological Age</a>

        </p>



	</div>
{% endblock detail %}
