<div id="db-opts" class="flex-row">
    <div id="help-opts" class="flex-row">
        <button id="strt-tut" class="ag-fresh" title="Start the Walkthrough Tutorial">
            Tutorial
        </button>
        <button id="show-tips" class="ag-fresh" title="Show Creative Search Tips Ideas">
            Tips
        </button>
    </div>
    <div id="list-opts" class="flex-row tbl-tools">
        <button id="lists" class="ag-fresh map-dsbl ico-bttn" name="int-set" title="Create and Manage Lists of Interactions">  <!-- Saved lists of interactions -->
            Lists
        </button>
        <button class="ag-fresh ico-bttn" name="clear-list" title="Clear Loaded Interaction List" disabled="disabled">
        </button>
    </div>
    <div id="focus-opts" class="flex-row map-dsbl tbl-tools">
        <div class="flex-row">
            <span>Group Interactions by: </span>
            <select id="search-focus" class="focus-sel" data-field="Focus"></select>
            <span>View: </span>
            <select id="sel-view" class="view-sel" data-field="View"></select>
        </div>
    </div>
    <div id="filter-opts" class="flex-row tbl-tools">
        <button id="filter" class="ag-fresh map-dsbl ico-bttn" title="Filter Options">
            Filters
        </button>
        <button class="ag-fresh map-dsbl ico-bttn" name="reset-tbl" title="Clear All Filters">
        </button>
    </div>
    <div id="misc-opts" class="flex-row">
        <button id="shw-map" class="ag-fresh ico-bttn" title="Show Interactions in Table on Map">
            Map Interactions
        </button>
        <button class="ag-fresh map-dsbl ico-bttn" name="csv" title="Download CSV of Table Data">  <!-- DOwnload csv data -->
            CSV
        </button>
    </div>
    <div id="data-opts" class="flex-row">
        <button id="new-data" class="ag-fresh map-dsbl ico-bttn" title="Create New Interaction Data">  <!-- Add tooltip "new interaction" -->
            New
        </button>
        <button id="rvw-data" class="ag-fresh map-dsbl ico-bttn" title="Manage Submitted Data">
            Review
        </button>
        <button id="data-help" class="ag-fresh map-dsbl ico-bttn" title="Experiencing issues?">
        </button>
    </div>
</div>