{% extends "layout.html.twig" %}

{% block stylesheets %}
    {{parent()}}
    {{ encore_entry_link_tags('db') }}
{% endblock %}

{% block headerstats %}
    000 Interactions | 000 Citations | 000 Locations in 00 Countries | 000 Bat Species | 000 Other Species
{% endblock %}

{# Javascript after detail block. #}

{% block headline %}
    Database Search
{% endblock headline %}

{% block detail %}
    {% if is_full_view() or is_tablet_view() %}
        {% embed 'ContentBlock/search/db-options-menu.html.twig' %} {% endembed %}
        <div id='fltr-int-pnl-cntnr' class="flex-col">
            {% embed 'ContentBlock/search/panels/list-panel.html.twig' %} {% endembed %}
            {% embed 'ContentBlock/search/panels/filter-panel.html.twig' %} {% endembed %}
        </div>
        {% embed 'ContentBlock/search/panels/review/review-panel.html.twig' %} {% endembed %}
        {% embed 'ContentBlock/search/table-tool-bar.html.twig' %} {% endembed %}
        <div id="db-view">
            <div id="search-tbl" class="ag-fresh"></div>
            <div id="map" style="display: none;"></div>
            <div id="db-overlay"></div>
            <div id="db-popup"></div>
        </div>
    {% endif %}
{% endblock detail %}

{% block javascripts %}
    {{parent()}}
    {% if is_full_view() or is_tablet_view() %}
        {{ encore_entry_script_tags('db') }}
    {% endif %}
{% endblock %}