{% extends "layout.html.twig" %}

{% block datatable %}pub_pdf_tbl{% endblock datatable %}

{% block headline %}
    Submitted Publications
{% endblock headline %}

{% block detail %}
    <table id="pub_pdf_tbl" class="display" style="width: 100%;">
        <thead>
            <tr>
                <th>Delete</th>
                <th>Preview/Download</th>
                <th>Description</th>
                <th>User</th>
                <th>Email</th>

            </tr>
        </thead>
        <tbody>
            {% for pub in entities %}
                <tr>
                    <td>
                        <input type="button" name="delete-pdf">
                    </td>
                    <td>
                        <input type="button" name="preview-pdf">
                        <input type="button" name="download-pdf">
                    </td>
                    <td>{{pub.description}}</td>
                    <td>{{pub.createdBy.firstName}}  {{pub.createdBy.lastName}}</td>
                    <td>{{pub.createdBy.email}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock detail %}
