{% extends "layout.html.twig" %}

{% block datatable %}pub_pdf_tbl{% endblock datatable %}

{% block headline %}
    Submitted Publications
{% endblock headline %}

{% block detail %}
    <table id="pub_pdf_tbl" class="display" style="width: 100%;">
        <thead>
            <tr>
                <th style="width: 111px;">Delete</th>
                <th style="width: 222px;">Preview/Download</th>
                <th style="width: 444px;">Description</th>
                <th style="width: 122px;">User</th>
                <th style="width: 222px;">Email</th>
            </tr>
        </thead>
        <tbody>
            {% for pub in entities %}
                <tr>
                    <td>
                        <center>
                            <input type="button" name="delete-pdf" value="Delete PDF" class="dt-bttn">
                        </center>
                    </td>
                    <td>
                        <center>
                            <input type="button" name="preview-pdf" value="Preview PDF" class="dt-bttn" style="margin-right: 2em !important;">
                            <input type="button" name="download-pdf" value="Download PDF" class="dt-bttn">
                        </center>
                    </td>
                    <td>{{pub.description}}</td>
                    <td>{{pub.createdBy.firstName}}  {{pub.createdBy.lastName}}</td>
                    <td>{{pub.createdBy.email}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock detail %}
