{% extends '::base.html.twig' %}

{# --------- Initialize and Calculate Variables ---------------- #}

{% set rtparts = app.request.pathinfo|split('/') %}
{% set ctrlr = rtparts|slice(1, 1)[0] %}
{% set editpath = 'app_' ~ ctrlr ~ '_edit' %}
{% set entname = ctrlr | capitalize %}
{% set routeent = ctrlr %}
{% if entname | slice(-4, 4) == 'type' %}
    {% set strippedname = entname | split('type') %}
    {% set entname = strippedname | first ~ ' Type' %}
    {% set routeent = strippedname | first | lower ~ '_type' %}
{% endif %}

{% if entities is defined %}
    {% set actn = 'index' %}
	{% if is_granted('ROLE_ADMIN') %}
		{% set addlnkpath = 'app_' ~ routeent ~ '_new' %}
		{% set addlnk = 	' <a href="' ~ path(addlnkpath) ~
							'"><img src="' ~ asset('bundles/app/images/zart.plus.svg') ~
							'" id="hdricopen" title="Add New ' ~ entname ~ '" alt="Add ' ~ entname ~ '" /></a>' %}
	{% else %}
		{% set addlnk = '' %}
	{% endif %}
		{% set hdrtxt = 'Viewing All ' ~ entname ~ ' Records' ~ addlnk %}
{% elseif entity is defined %}
    {% set actn = rtparts|last %}
    {% if ctrlr == 'taxon' %}
        {% if actn == 'new' %}
            {% set entlabel = 'New ' %}
        {% else %}
            {% if entity.domain %}
                {% set entlabel = taxon.level.name ~ ' ' ~ entity ~ ' (' ~ taxon.domain.pluralname ~ ')' %}
            {% else %}
                {% set entlabel = taxon.level.name ~ ' ' ~ entity %}
            {% endif %}
        {% endif %}
    {% else %}
        {% if actn == 'new' %}
            {% set entlabel = 'New ' %}
        {% else %}
            {% set entlabel = entity %}
        {% endif %}
    {% endif %}
    {% set enttext = entname ~ ' : ' ~ entlabel %}
    {% if actn == 'show' %}
		{% if is_granted('ROLE_ADMIN') %}
			{% set adminlnkpath = 'app_' ~ routeent ~ '_edit' %}
			{% set adminlnk = 	' <a href="' ~ path(adminlnkpath, { 'id': entity.id }) ~
								'"><img src="' ~ asset('bundles/app/images/zart.pencil.svg') ~
								'" id="hdricopen" title="Edit ' ~ enttext ~ '" alt="Edit ' ~ enttext ~ '" /></a>' %}
		{% else %}
			{% set adminlnk = '' %}
		{% endif %}
			{% set hdrtxt = ' Viewing ' ~ enttext ~ adminlnk %}
    {% elseif actn == 'edit' %}
        {% set hdrtxt = 'Editing ' ~ enttext %}
    {% elseif actn == 'new' %}
        {% set hdrtxt = 'Adding New ' ~ entname %}
    {% else %}
        {% set hdrtxt = '[Unrecognized Actn = ' ~ actn ~ ']' %}
    {% endif %}
{% else %}
    {% set hdrtxt = 'Bat-Plant Interactions Database' %}
{% endif %}

{% set colmaps = {
	interactiontype: {'ico': 'vis', 'intrtype': 'invis', 'loc': 'vis', 'subj': 'vis', 'slvl': 'vis', 'obj': 'vis', 'olvl': 'vis', 'cit': 'vis', 'pub': 'vis'},
	citation: {'ico': 'vis', 'intrtype': 'vis', 'loc': 'vis', 'subj': 'vis', 'slvl': 'vis', 'obj': 'vis', 'olvl': 'vis', 'cit': 'invis', 'pub': 'invis'},
	interaction: {'ico': 'vis', 'intrtype': 'vis', 'loc': 'vis', 'subj': 'vis', 'slvl': 'vis', 'obj': 'vis', 'olvl': 'vis', 'cit': 'vis', 'pub': 'vis'},
	location: {'ico': 'vis', 'intrtype': 'vis', 'loc': 'invis', 'subj': 'vis', 'slvl': 'vis', 'obj': 'vis', 'olvl': 'vis', 'cit': 'vis', 'pub': 'vis'},
	taxon: {'ico': 'vis', 'intrtype': 'vis', 'loc': 'vis', 'subj': 'vis', 'slvl': 'vis', 'obj': 'invis', 'olvl': 'invis', 'cit': 'vis', 'pub': 'vis'}
	}
%}

{% if attribute(colmaps, ctrlr) is defined %}
	{% set colclass = attribute(colmaps, ctrlr) %}
	{% if is_granted('ROLE_ADMIN') %}
		{% set colclass = colclass|merge({ 'admin': 'vis' }) %}
    {% endif %}
{% endif %}

{# ------------- Display Blocks ---------------------------------- #}

{% block headline %}
    {{ hdrtxt|raw }}
{% endblock headline %}
