<div class="three-col-outer">
	<div class="first-col">
		{% block firstcol %}{% endblock %}
	</div>
	<div class="second-col">
		{% block secondcol %}{% endblock %}
	</div>
	<div class="third-col">
		{% block thirdcol %}{% endblock %}
	</div>
</div>
