{% extends "layout.html.twig" %}

{% set blocks = entities %}

{% block headline %}Coming Soon{% endblock %}

{% block detail %}
    <div id="future-dev-pg" class="top-pgs">
    {% embed 'two_cols_sect.html.twig' %}
        {% block firstcol %}
            <div id="future-developments-overview" class="wysiwyg">
                {{ blocks["future-developments-overview"]|raw }}
            </div>
            <h4 class="top-em-mrg">Suggestions?</h4>
            <p>Registered users can submit new publications to the project
                through our <a href="{{ path('app_submit_pub') }}"> Submit
                Publication</a> page and leave feedback on new features by clicking
                "Leave Feedback" in the user menu.
            </p>
        {% endblock firstcol %}
        {% block secondcol %}
            <h3>Publications being added to the database:</h3>
            {% if is_full_view() %}
                <object id='add-pubs' data="{{ asset('build/files/Publications To Add.pdf') }}"></object>
            {% else %}
                <p><a href="{{ asset('build/files/Publications To Add.pdf') }}"
                    target="_blank">Click to view PDF in a new tab.</a></p>
            {% endif %}
        {% endblock secondcol%}
    {% endembed %}
    </div>
{% endblock detail %}
