{% extends "layout.html.twig" %}

{% set blocks = entities %}

{% block headline %}Definitions{% endblock %}

{% block detail %}
	<div id="def-frame">
	{% embed 'two_cols_sect.html.twig' %}
		{% block firstcol %}
			{{ blocks["definitions-habitat-types"]|raw }}
		{% endblock %}
		{% block secondcol %}
			{{ blocks["definitions-interaction-types"]|raw }}
		{% endblock %}
	{% endembed %}
	</div>
{% endblock detail %}
