{% extends "layout.html.twig" %}

{% set blocks = entities %}

{% block headline %}Definitions{% endblock %}

{% block detail %}
	<div id="def-frame">
	{% embed 'two_cols_sect.html.twig' %}
		{% block firstcol %}
			<div id="definitions-habitat-types" class="wysiwyg">
				{{ blocks["definitions-habitat-types"]|raw }}
			</div>
		{% endblock %}
		{% block secondcol %}
			<div id="definitions-interaction-types" class="wysiwyg">
				{{ blocks["definitions-interaction-types"]|raw }}
			</div>
		{% endblock %}
	{% endembed %}
	</div>
{% endblock detail %}
