{% extends "layout.html.twig" %}

{% set blocks = entities %}

{% block headline %}Future Developments{% endblock %}

{% block detail %}
    <div id="future-dev-pg" class="top-pgs">
    {% embed 'two_cols_sect.html.twig' %}
        {% block firstcol %}
            {{ blocks["future-developments-overview"]|raw }}
            {{ blocks["future-developments-announcements"]|raw }}
        {% endblock firstcol %}
        {% block secondcol %}
            {{ blocks["list-of-future-articles"]|raw }}
        {% endblock secondcol%}
    {% endembed %}
    </div>
{% endblock detail %}
