{% extends "layout.html.twig" %}

{% set blocks = entities %}

{% block headline %}Coming Soon{% endblock %}

{% block detail %}
    <div id="future-dev-pg" class="top-pgs">
    {% embed 'two_cols_sect.html.twig' %}
        {% block firstcol %}
            <div id="future-developments-announcements" class="wysiwyg">
                {{ blocks["future-developments-announcements"]|raw }}
            </div>
            <div id="future-developments-overview" class="wysiwyg">
                {{ blocks["future-developments-overview"]|raw }}
            </div>
        {% endblock firstcol %}
        {% block secondcol %}            
            <h3>Publications currently being added to the database:</h3>
            <embed src="{{ asset('build/files/Publications To Add.pdf') }}" height="455px" width="740px">
            <h3>Suggestions?</h3>
            <p>If you have suggestions for additional publications or articles, 
                please send the relevant information and a pdf of it to 
                <a href="mailto:info@batplant.org?subject=Future%20Developments">info@batplant.org</a>.</p>
        {% endblock secondcol%}
    {% endembed %}
    </div>
{% endblock detail %}
