{% extends "layout.html.twig" %}

{# {% set interaction = entity %} #}

{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('bundles/app/js/search-page.js') }}"></script>
{% endblock %}

{% block headline %}
	Advanced Search
{% endblock headline %}

{% block detail %}
    <div id="search-opts" class="flex-row ">
        <div id="opts-col1" class="opts-col flex-col">
            <label id="filter-opts" class="">
                <span>Filter Interactions By: </span>
                <select id="search-focus" class="opts-box">
                    <option value="taxa">Taxon</option>
                    <option value="locs" selected>Location</option>
                    <option value="auths">Author</option>
                </select>
            </label>
            <div id="sort-opts" class="flex-row"></div>
        </div>
        <div id="opts-col2" class="flex-col flex-wrap"></div>
    </div>
    <div id="search-grid" class="ag-fresh"></div>


{% endblock detail %}
