{% extends "layout.html.twig" %}

{# {% set interaction = entity %} #}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('build/db.css') }}" />
{% endblock %}

{# Javascript after detail block. #}

{% block headline %}
    Database Search
{% endblock headline %}

{% block detail %}
    <div id="db-opts" class="flex-row">
        <div id="db-opts-col1" class="flex-row">
            <div class="flex-row">
                <span>Group Interactions by: </span>
                <select id="search-focus" class="col1-sel" data-field="Focus"></select>
                <span>View: </span>
                <select id="sel-view" class="col1-sel" data-field="View"></select>
            </div>
        </div>
        <div id="db-opts-col2" class="flex-row tbl-tools">
            <button id="filter" class="ag-fresh tbl-bttn ico-bttn">
                Filter Data
            </button>     
            <button class="ag-fresh ag-header-cell tbl-bttn ico-bttn" name="reset-tbl">
                Reset
            </button>
        </div>
        <div id="db-opts-col3" class="flex-row">
            <button id="shw-map" class="ag-fresh tbl-bttn ico-bttn">
                Show Interactions on Map
            </button>
            <button class="ag-fresh ag-header-cell tbl-bttn ico-bttn" name="csv">
                CSV
            </button>
        </div>
        <div id="db-opts-col4" class="flex-row">  
            <button class="ag-fresh ag-header-cell tbl-bttn ico-bttn" name="int-set">
                Data Lists
            </button>   
            <button id="new-data" class="ag-fresh tbl-bttn ico-bttn">
                Add Data
            </button>
            <button id="rvw-data" class="ag-fresh tbl-bttn ico-bttn">
                Review Data
            </button>
        </div>
        <div id="db-opts-col5" class="flex-row">
            <button id="strt-tut" class="ag-fresh tbl-bttn">
                Tutorial
            </button>
            <button id="show-tips" class="ag-fresh tbl-bttn">
                Search Tips
            </button>
        </div>
    </div>
    <div id='filter-opts' class="flex-row pop-out-panel closed">
        <div id="focus-filters" class="flex-row flex-wrap tbl-tools"></div>
        <div id="shw-chngd-ints" class='tbl-tools'>
            <input type="checkbox" id="shw-chngd">
            <label for="shw-chngd">Show records updated since:</label>
            <input type="text" id="time-fltr" disabled="disabled">
        </div>
        <div id="stored-filters" class="flex-row"> 
            <span>Load saved filters: </span>
            <select id="saved-filters" class="saved-filters-sel" data-field="" disabled="true">
                <option value="create">New Saved Filters Set</option>
            </select>
            <button id="save-filter" class="ag-fresh" disabled="true"> 
                Save Current Filter State
            </button>
        </div>
    </div>
    <div id='int-opts' class="flex-row pop-out-panel closed"> 
        <div id="int-lists" class="flex-col flex-wrap tbl-tools">               <!-- Select list -->
            <span><b>Select List of Interaction Data</b></span>
            <select id="saved-ints" class="int-list-sel" data-field=""></select>
            <button id="load-list" class="ag-fresh tbl-bttn" disabled="true"> 
                View Interaction List in Table
            </button>        
        </div>
        <div id="list-details" class='tbl-tools flex-col'>                      <!-- List details -->
            <span><b>List Details</b></span>
            <div class="flex-row">
                <span>Display Name: </span>
                <input type="text" placeholder="Display Name" style="height: 27px;"> 
            </div>
            <div class="flex-row" style="width: 100%;">
                <span>Description: </span>
                <textarea placeholder="Description" style="height: 50px;"></textarea>  
            </div> 
        </div>
        <div id="mod-list-pnl" class="flex-col">                                <!-- Add to / remove from list -->
            <span><b>Modify List Data</b></span>
            <div class="flex-row" id="mod-list-cntnr">
                <input type="checkbox" id="mod-list">
                <label for="mod-list">Add Interactions In Table To List</label>
            </div>
            <div class="flex-row" style="margin-left: 1em;">
                <input type="radio" id="add-all-list">
                <label for="add-all-list">Add All Displayed</label>
                <input type="radio" id="add-one-list">
                <label for="add-one-list">Select Rows To Add</label>
            </div>
            <div class="flex-row" style="align-self: flex-end; margin-top: auto;">
                <span id="list-submit-msg">Changes saved. </span>
                <button id="submit-list" class="ag-fresh tbl-bttn"> 
                    Save Interaction List
                </button>       
            </div>
        </div>
    </div>
    <div id="tool-bar" class="flex-row">
        <div id='xpand-tree' class=' tbl-tools'>
            <button id="xpand-all" class="ag-fresh ag-header-cell tbl-bttn" name="xpand-all">
                Expand All
            </button>
            <button class="ag-fresh ag-header-cell tbl-bttn" name="xpand-1">+</button>
            <button class="ag-fresh ag-header-cell tbl-bttn" name="collapse-1">-</button>
        </div>
        <div id="tbl-status" class="flex-row">
            <div id="xtrnl-filter-status">Filtering on:</div>
            <div id="tbl-filter-status"></div>
        </div>
        <div class='tbl-tools'>
            <button class="ag-fresh ag-header-cell tbl-bttn" name="show-hide-col" 
                title="Future feature: customize the data shown in the table and/or csv export."
                disabled> Show/Hide Columns
            </button>
        </div>
    </div>
    <div id="db-view">
        <div id="search-tbl" class="ag-fresh"></div>
        <div id="map" style="display: none;"></div>
        <div id="db-overlay"></div>
        <div id="db-popup"></div>
    </div>
{% endblock detail %}

{% block javascripts %} 
    {{parent()}}    
    <script src="{{ asset('build/db.js') }}"></script>
{% endblock %}