{% extends "layout.html.twig" %}

{# {% set interaction = entity %} #}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('build/db.css') }}" />
{% endblock %}

{# Javascript after detail block. #}

{% block headline %}
    Database Search
{% endblock headline %}

{% block detail %}
    <div id="db-opts" class="flex-row">
        <div id="db-opts-col1" class="flex-row map-dsbl tbl-tools">
            <div class="flex-row">
                <span>Group Interactions by: </span>
                <select id="search-focus" class="col1-sel focus-sel" data-field="Focus"></select>
                <span>View: </span>
                <select id="sel-view" class="col1-sel" data-field="View"></select>
            </div>
        </div>
        <div id="db-opts-col2" class="flex-row">
            <button id="filter" class="ag-fresh tbl-bttn map-dsbl ico-bttn">
                Filters
            </button>     
            <button class="ag-fresh ag-header-cell tbl-bttn map-dsbl ico-bttn" name="reset-tbl">
                Reset
            </button>
        </div>
        <div id="db-opts-col3" class="flex-row">
            <button id="shw-map" class="ag-fresh tbl-bttn ico-bttn">
                Show Interactions on Map
            </button>
            <button class="ag-fresh ag-header-cell tbl-bttn map-dsbl ico-bttn" name="csv">  <!-- DOwnload csv data -->
                CSV
            </button>
        </div>
        <div id="db-opts-col4" class="flex-row">  
            <button class="ag-fresh ag-header-cell tbl-bttn map-dsbl ico-bttn" name="int-set">  <!-- Saved lists of interactions -->
                Lists
            </button>   
        </div>
        <div id="db-opts-col5" class="flex-row">
            <button id="new-data" class="ag-fresh tbl-bttn map-dsbl ico-bttn">  <!-- Add tooltip "new interaction" -->
                New
            </button>
            <button id="rvw-data" class="ag-fresh tbl-bttn map-dsbl ico-bttn">
                Review
            </button>
        </div>
        <div id="db-opts-col6" class="flex-row">
            <button id="strt-tut" class="ag-fresh tbl-bttn">
                Tutorial
            </button>
            <button id="show-tips" class="ag-fresh tbl-bttn">
                Tips
            </button>
        </div>
    </div>
    <div id='filter-opts' class="flex-row pop-out-panel closed">
        <div id="filter-col1" class="flex-col">
            <span><b>Individual Filters (Here and in some Table Column Headers)</b></span>
            <div id="focus-filters" class="flex-row flex-wrap"></div>
            <div id="shw-chngd-ints">
                <input type="checkbox" id="shw-chngd">
                <label for="shw-chngd">Show interactions updated since:</label>
                <input type="text" id="time-fltr" disabled="disabled">
            </div>
        </div>
        <div id="stored-filters" class="flex-col"> 
            <div class="flex-row spaced">
                <span style="flex-grow: 1;"></span>
                <span><b>Saved Filter Sets</b></span>
                <span style="flex-grow: 1;"></span>
                <button id="apply-filter" class="ag-fresh tbl-bttn"> 
                    Apply Filter
                </button>                
            </div>
            <div class="flex-row spaced" style="height: 27px;">
                <span class="fltr-desc">Select Filter: </span>
                <select id="saved-filters" class="saved-filters-sel"></select>
                <div class="flex-row spaced filter-set-details">
                    <span id="filter-set-name" class="fltr-desc">Name: </span>
                    <input type="text" placeholder="Filter Name" style="height: 27px;"> 
                </div>
                <span id="set-submit-msg" class="pnl-submit-msg">&#10004;</span>
                <button id="save-filter" class="ag-fresh tbl-bttn"> 
                    Save Filter
                </button>                
            </div>
            <div class="flex-row spaced">
                <div class="filter-set-details flex-row">
                    <span class="fltr-desc">Description: </span>
                    <textarea placeholder="Filter Description"></textarea>  
                </div>
                <span style="width: 34px;"></span>
                <button id="delete-filter" class="ag-fresh tbl-bttn"> 
                    Delete
                </button>
                <div id="set-confm-cntnr" class="flex-col">
                    <button id="confm-set-delete" class="ag-fresh tbl-bttn"> 
                        Confirm Delete
                    </button>   
                    <button id="cncl-set-delete" class="ag-fresh tbl-bttn"> 
                        Cancel
                    </button>  
                </div>  
            </div> 
        </div>
    </div>
    <div id='int-opts' class="flex-row pop-out-panel closed"> 
        <div id="int-lists" class="flex-col flex-wrap">               <!-- Select list -->
            <span><b>Select List of Interaction Data</b></span>
            <select id="saved-ints" class="int-list-sel"></select>
            <button id="load-list" class="ag-fresh tbl-bttn" disabled="true"> 
                View Interaction List in Table
            </button>        
            <div>Note: Filters will be reset.</div>
        </div>
        <div id="list-details" class='flex-col'>                      <!-- List details -->
            <span><b>List Details</b></span>
            <div class="flex-row">
                <span class="details-desc">List Name: </span>
                <input type="text" placeholder="Display Name" style="height: 27px;"> 
            </div>
            <div class="flex-row" style="width: 100%;">
                <span class="details-desc">Description: </span>
                <textarea placeholder="Description" style="height: 50px;"></textarea>  
            </div> 
            <div class="flex-row" style="width: 100%;">
                <span class="details-desc">Interactions: </span>
                <span id="int-list-cnt"></span> 
            </div> 
        </div>
        <div id="mod-list-pnl" class="flex-col">                                <!-- Add to / remove from list -->
            <span><b>Modify List Data</b></span>
            <div id="mod-mode">Add Interactions to List</div>
            <div id="mod-radios" class="flex-row" style="margin-left: 1em;">
                <input name="mod-list" type="radio" id="mod-all-list">
                <label for="mod-all-list">All Rows</label>
                <input name="mod-list" type="radio" id="mod-some-list">
                <label for="mod-some-list">Select Rows</label>
                    <button id="unsel-rows" class="ag-fresh tbl-bttn"> 
                        Unselect All Rows
                    </button>   
            </div>
            <span id="mod-info"></span>
            <div class="flex-row submit-cntnr">
                <button id="delete-list" class="ag-fresh tbl-bttn"> 
                    Delete Saved List
                </button>      
                <div id="list-confm-cntnr">
                    <button id="confm-list-delete" class="ag-fresh tbl-bttn"> 
                        Confirm Delete
                    </button>   
                    <button id="cncl-list-delete" class="ag-fresh tbl-bttn"> 
                        Cancel
                    </button>  
                </div>  
                <div class="flex-row">
                    <span id="list-submit-msg" class="pnl-submit-msg">&#10004;</span>
                    <button id="submit-list" class="ag-fresh tbl-bttn"> 
                        Save List
                    </button>       
                </div>
            </div>
        </div>
    </div>
    <div id="tool-bar" class="flex-row">
        <div id='xpand-tree' class=' tbl-tools'>
            <button id="xpand-all" class="ag-fresh ag-header-cell tbl-bttn" name="xpand-all">
                Expand All
            </button>
            <button class="ag-fresh ag-header-cell tbl-bttn" name="xpand-1">+</button>
            <button class="ag-fresh ag-header-cell tbl-bttn" name="collapse-1">-</button>
        </div>
        <div id="tbl-status" class="flex-row">
            <div>Filtering on:&nbsp;</div>
            <div id="filter-status"></div>
        </div>
        <div class='tbl-tools'>
            <button class="ag-fresh ag-header-cell tbl-bttn" name="show-hide-col" 
                title="Future feature: customize the data shown in the table and/or csv export."
                disabled> Show/Hide Columns
            </button>
        </div>
    </div>
    <div id="db-view">
        <div id="search-tbl" class="ag-fresh"></div>
        <div id="map" style="display: none;"></div>
        <div id="db-overlay"></div>
        <div id="db-popup"></div>
    </div>
{% endblock detail %}

{% block javascripts %} 
    {{parent()}}    
    <script src="{{ asset('build/db.js') }}"></script>
{% endblock %}