{% extends "layout.html.twig" %}

{# {% set interaction = entity %} #}

{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('bundles/app/js/search-page.js') }}"></script>
{% endblock %}

{% block headline %}
	Advanced Search
{% endblock headline %}

{% block detail %}
    <div id="search-opts" class="flex-row ">
        <div id="opts-col1" class="opts-col flex-col">
            <label id="filter-opts" class="">
                <span>Filter Interactions By: </span>
                <select id="search-focus" class="opts-box">
                    <option value="locs">Location</option>
                    <option value="taxa">Taxon</option>
                </select>
            </label>
            <div id="sort-opts" class="flex-row"></div>
        </div>
        <div id="opts-col2" class="flex-col flex-wrap"></div>
    </div>
    <div id="grid-tools" class="flex-row">
        <button id="xpand-tree" class="ag-fresh ag-header-cell grid-bttn" name="xpand-tree">&nbspExpand Tree&nbsp</button>
        <button class="ag-fresh ag-header-cell grid-bttn" name="reset-grid">Reset Data</button>
        <div id="grid-status"></div>
        <button class="ag-fresh ag-header-cell grid-bttn" name="csv">Download CSV</button>
    </div>
    
    <div>
        <div id="search-grid" class="ag-fresh">
            <div id="overlay"></div>
            <div id="popUpDiv"></div>
        </div>
    </div>

{% endblock detail %}
