{% extends "layout.html.twig" %}

{% set blocks = entities %}

{% block headline %} Citations for Bat Eco-Interactions {% endblock headline %}

{% block detail %}
    <div id="src-pg">
        {{ blocks["sources-main"]|raw }}
    </div>
{% endblock detail %}
