{% extends "layout.html.twig" %}

{% set blocks = entities %}

{% block headline %} Citations for Bat Eco-Interactions {% endblock headline %}

{% block detail %}
    <div id="src-pg">
        <div class="wysiwyg" id="sources-main">
            {{ blocks["sources-main"]|raw }}
        </div>
    </div>
{% endblock detail %}
