{% extends "layout.html.twig" %}

{% block headline %}About the Team{% endblock %}

{% block detail %}
	<div id="team-pg">
		{% embed 'three_cols_sect.html.twig' %}
		{% block firstcol %}
			<div class="bio-img"><img src="{{ asset('bundles/app/images/team-cullen.jpg') }}" alt="Cullen Image"></div><p><span class="lbl">Cullen Geiselman</span> began her career
			studying bats in 1998 when she joined the staff of Bat Conservation International (BCI),
			where she taught bat research and land management workshops in Arizona, Kentucky, and
			Pennsylvania, led natural history tours to Belize, Kenya, and Brazil, developed educational
			materials for children and adults, as well as presented numerous formal and informal lectures
			across the US.</p><br>
			<p>In an effort to learn more about bats and conservation methods, she entered graduate school
			at Columbia University in 2003. There she worked with botanist Scott Mori of the New York
			Botanical Garden investigating the role of bats in seed dispersal and pollination in lowland
			rainforests of South America. During this time she spent two years collecting data in an
			isolated research station in French Guiana and coauthored a book entitled Seed Dispersal by Bats
			in the Neotropics. In May 2010 she received her doctorate in Ecology and Evolutionary Biology
			from Columbia University.</p><br>
			<p>Cullen currently lives in Houston, administers a family foundation funding healthcare
			initiatives in the greater Houston area, and serves on the Board of Directors of the Houston
			Arboretum and Nature Center, the Houston Zoo, the Houston Parks Board, the Houston Advanced
			Research Center and other not-for-profit groups dedicated to preserving and expanding green
			space for the benefit of people and nature. She continues her work with bats by serving as chair
			of the board of Bat Conservation International, collaborating with students in Africa and Latin
			America, and hosting the online Bat Eco-Interactions database.</p>
		{% endblock %}
		{% block secondcol %}
			<div class="bio-img"><img src="{{ asset('bundles/app/images/team-tuli.jpg') }}" alt="Tuli Image"></div><p><span class="lbl">Tuli Defex</span> is an interdisciplinary veterinarian
			and conservationist from Colombia who has been involved in a wide variety of projects mainly in Latin
			America, North America, and Africa. She has a Doctor of Veterinary Medicine and a Masters in
			Agribusiness Management from Universidad de La Salle in Colombia, and holds a PhD in Systems Modeling
			and Wildlife Conservation from Texas A&M University.</p><br>
			<p>Early on in her career she joined the government of Colombia to establish an Amazonian wildlife
			rehabilitation center for species confiscated from illegal trade. She acted as a consultant for the
			Congress of Colombia on a diversity of initiatives involving public health, transmissible diseases,
			mitigation of human-wildlife conflicts and agricultural practices. Later on she joined the Global
			Species Programme at IUCN where she managed a portfolio of projects involving species assessments,
			wildlife conservation, ecosystem services, and community based conservation mainly for the Caribbean
			and Gulf of Mexico region. She was part of the USNPS-Inventory and Monitory team where she led the
			design of management initiatives with a systems approach for protected areas. She is currently an appointed member at the IUCN Commission on Ecosystem Management for the North
			America and Caribbean.</p><br>
			<p>She brings her vast expertise with multidisciplinary projects and species to
			increase the efficacy and impact of Bat Eco-Interactions. Tuli's interests include systems approach,
			ecosystems services, One Health Initiative, community based conservation, wildlife health, and
			corporate social responsibility.</p>
		{% endblock %}
		{% block thirdcol %}
			<div class="bio-img"><img src="{{ asset('bundles/app/images/team-taylor.jpg') }}" alt="Taylor Image"></div><p><span class="lbl">Taylor Brown</span> is a software developer, database
			architect, and a strong advocate for the free and open source software (FOSS) movement. For 25 years,
			he's designed and coded database driven software for a both the web and the desktop.</p><br>
			<p>He first began working with the bat eco-interactions database well over a decade ago, when it was
			still called the Bat-Plant Interactions Database and was hosted at the New York Botanical Gardens
			website. In preparation for the current round of development, he spent several months studying
			biodiversity infomatics and the various data format standards created in recent years to make it easier
			for ecological research projects to share data.</p><br>
			<p>He is developing the database and the website back-end
			components of this site to be abstracted in such a way that they can be used as a framework for any web
			site that needs to publish data on observed eco-interactions. He looks forward to making this framwwork
			avaialbe as free and open source software.</p>
		{% endblock %}
		{% endembed %}
	</div>
{% endblock detail %}
