{% extends "bundles/FOSUserBundle/layout.html.twig" %}

{% block headline %}Join BatBase.org{% endblock %}

{% block fos_user_content %}
	<div id="register-pg" class="two-col-outer top-pgs flex-row flex-wrap">
		<div class="first-col">
				<h3>Our Project</h3>
				<p>This is an on-going project with the goal of capturing all published
					interactions observed between bats and plants and bats and arthropods
					to facilitate additional studies on the subject.</p>
				<h3>How to get involved</h3>
				<p>Our database is open sourced and continually updated by experts and
					enthusiastic collaborators. We are consistently adding new features
					to broaden our ability to invite collaboration and active engagement
					with this project.</p>
				<p class="top-em-mrg">We are collecting titles and pdfs of articles that
					should be added to the database. <a href="future-developments">
					Click here</a> to see a list of the publications currently being added.
					Once registered, you can <a href="upload/publication"> submit
					new publications to the project</a>.
				<h3>Become a member</h3>
				<p>Sign up to submit publications to be added to the database, save
				custom lists of interactions and filter sets to explore using the
				database tools, download CSV data, and more!</p>
				<p>Just provide your email, select a username and password, and tell us
					about your interest in BatBase.org.</p>
		</div>
		<div class="second-col">
			<div id="top-form-container">
				{% include "bundles/FOSUserBundle/Registration/register_form.html.twig" %}
			</div>
		</div>
	</div>
{% endblock fos_user_content %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
	    function onReCaptchaSuccess() {
	        $('#reg-submit').attr('disabled', false).fadeTo('fast', 1);
	    };
	</script>
{% endblock javascripts %}