{% extends "layout.html.twig" %}

{% block datatable %}biblio_tbl{% endblock datatable %}

{# {% block pagedata %}data-frames="citFrames"{% endblock %} #}

{% block headline %}
	Biblography
{% endblock headline %}

{% block detail %}
    <table id="biblio_tbl" class="display" style="width: 100%;">
        <tbody>
            {% for citation in citations %}
                {% if '[DELETE]' in citation.fullText %}
                    {# continue; #}
                {% else %}
                    <tr>
                        <td>{{citation.fullText}}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endblock detail %}
