{% extends "layout.html.twig" %}

{% set interactions = entities %}

{% block datatable %}int_exprt_tbl{% endblock datatable %}

{% block masthead %}
	<div class="hiddenElem" id="masthead"  data-hide-slider="true"></div>
{% endblock %}

{% block headline %}
	Export Interactions Data
{% endblock headline %}

{%- block pageid -%}
	exprtContnt
{%- endblock -%}

{% block detail %}
   {{ include('interaction/interaction_exprt_tbl.html.twig') }}
{% endblock detail %}
