
/* CONTAINER FOR FIELD ROWS */
[id$="_row"]
    padding: .2em .75em .3em  .75em
    width: 100%

/* CONTAINER FOR FIELD-ELEMS */
.field-elems
    justify-content: space-between
    margin-top: .3em

/* LABEL IN FIELD-ELEMS */
[id$="_lbl"]
    font-size: 1em
    padding: 0.2em .5em 0.2em 0

/* FORM FOOTER */
[id$="_footer"]
    margin-top: 1em