/* =========================== FIELDS ======================================= */
/* CONTAINER FOR COMBOBOX GROUPS */
.sel-cntnr           /* .flex-row also on elems */
    flex: 0 0 auto
    width: 18em
    justify-content: space-between

/* CONTAINER FOR FIELD-ELEMS */
.field-elems
    margin-top: .3em
/* =========================== FORMS ======================================== */
/* CONTAINER FOR FIELD ROWS */
[id$="_row"]
    padding: .2em .75em .3em  .75em
    width: 100%

/* FORM FIELD-ROWS */
[id$="_row"] .sel-cntnr
    flex-grow: 1

/* FORM FIELD-ROWS */
[id$="_row"] .field-row
    justify-content: space-between

/* LABEL IN FIELD-ELEMS */
[id$="_lbl"]
    font-size: 1em
    padding: 0.2em .5em 0.2em 0
    font-weight: bold
    min-width: fit-content

/* FORM FOOTER */
[id$="_footer"]
    margin-top: 1em