/*
 * Data review managament panel styles.
 */
/* ---------------- Tab container in db-options panel ----------------------- */
#data-opts 
    border-right: 1px black solid
    border-left: 1px black solid
    padding: 3px

#data-opts.shw-col-borders 
    background: #3399ff33
/* ---------------- Data Review Panel --------------------------------------- */
#review-pnl 
    max-height: 222px
    align-items: stretch
    background: #3399ff33
    border-radius: 10px

#review-pnl.vert 
    max-height: 444px

#review-pnl.closed 
    max-height: 0

#review-pnl>div
    padding: 5px 

#review-pnl span 
    align-self: center
    margin: 2px 0 10px 0
    
[id^='rvw-hdr']
    font-weight: 600
    align-self: center
    
/* ------------- Select Review (First) Column ------------------------------- */
#rvw-pnl-col1
    flex: 0 0 333px
    
/* ------------- Review Details (Second) Column ----------------------------- */
#rvw-pnl-col2
    flex: 0 1 490px
    border-left: black 1px solid
    border-right: black 1px solid
    margin-left: .5em
    
/* ------------- Modification and Statistics (Third) Column ----------------- */
#rvw-pnl-col3
    flex: 1 1 412px