{% extends "layout.html.twig" %}

{% set imageUpload = entity %}

{% block headline %}
	Editing {{ imageUpload }}
{% endblock headline %}

{% block detail %}
	<img src="{{ asset( imageUpload.path ) }}">
    <ul class="record_actions">
        {{ form(edit_form) }}
	</ul>
	<h4><a href="{{ path('app_image_upload') }}">View All Image Uploads</a></h4>
{% endblock detail %}

