{% extends "layout.html.twig" %}

{% set region = entity %}
{% set view_all_route = path('app_region') %}
{% set view_all_ent_plural = 'Regions' %}
{% set edit_route_name = 'app_region_edit' %}

{% block headline %}
    {{ include('view_all_uplink.html.twig') }}
    {{ include('show_headline.html.twig') }}
{% endblock headline %}

{% block detail %}
    <div class="em-mrg">
        <span class="lbl">Description:</span>
        <li> {{ region.description }} </li>
    </div>
        <span class="lbl em-mrg">Locations:</span>
        {% for location in region.locations%}
            <li> {{ location }}</li>
        {% endfor %}
{% endblock detail %}
