/*
greens-pallete:
	darkest: 	1b3b1b
	med: 		3fb58b
	light: 		77cab8
	lightest: 	a2dadd
*/
.settings {
	display: flex ;
	flex-direction: row;
	flex-wrap: wrap;
	width: 1500px;
	height: 150px;
	padding: .3em .3em .3em 1em;
	border: 1px solid black;
	/* font-weight: bold; */
}
.label {
	border: 1px solid blue;
	width: 150px;
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 5px;
}
.intField, .txtField {
	width: 150px;
	border: 1px solid blue;
	padding: .2em;
	font-size: 1.1em;
	text-align: center;
}
.txtCntnr {
	margin: .2em;
}
.dropDown {
	border: 1px solid blue;
	flex-basis: 100%;
	margin: .5em;
}
.curImg {
	flex-basis: 24%;
	border: 1px solid blue;
	height: 130px;
	margin-right: 1em;
}
.miscFields {
	flex-basis: 23%;
	display: flex ;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-right: 1em;
	width: 350px;
}
.msgCntnr {
	flex-basis: 24%;
	display: flex ;
	flex-direction: row;
	flex-wrap: wrap;
	margin-right: 1em;
	border: 1px solid green;
}
.msgEntry, .cssEntry {
	border: 1px solid green;
	height: 85px;
	flex-basis: 100%;
	padding: 1em;
	margin-bottom: .5em;
}
.cssEntry {
}
.newInput {
	font-weight: bold;
	font-size: 20px;
	color: black;
}
.accordion-content {
	border: 1px solid green;
}
.xsettings {
	display: flex ;
	flex-direction: row;
	width: 1500px;
	height: 175px;
	padding: .3em .3em .3em 1em;
	border: 1px solid green;
}
.xlabel {
	border: 1px solid green;
	width: 150px;
	min-width: 100px;
	height: 18px;
	font-weight: bold;
	font-size: 14px;
	flex-shrink: 1;
}
.xstub {
	border: 1px solid black;
	height: 25px;
}
.xcurImg {
	border: 1px solid blue;
	width: 250px;
	height: 150px;
	margin: 0 .5em .5em 0;
}
.xmiscFields {
	display: flex ;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	height: 175px;
	width: 340px;
	padding-top: 1em;
	margin-left: 1em;
	border: 1px solid green;
}
.xtranEffects {
	width: 325px;
	height: 40px;
	margin: .2em;
	border: 1px solid green;
}
.xmsgCntnr {
	width: 375px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 0 .5em .5em .5em;
	margin-right: 2em;
	border: 1px solid green;
}
.xtextEntry {
	border: 1px solid green;
	width: 350px;
	height: 90px;
	margin-bottom: .5em;
}
.xpos{
	border: 1px solid green;
	width: 100px;
}
.xcssEntry {
	border: 1px solid green;
	width: 300px;
	height: 90px
}
.xnewImg {
	border: 1px solid blue;
	width: 375px;
	height: 25px;
	margin: 0 .15em .35em .15em;
}
.xmsgProp {
	border: 1px solid green;
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	justify-content: space-around;
	margin: .1em 0 1em 1em;
}
.xsave {
	border: 2px solid orange;
	align-self: flex-end;
	width: 70px;
	height: 25px;
}
#full-pg{
	height: 100%;
	background: Azure;
}
#pg-container {
	max-width: 1500px;
	position: relative;
	margin: 0 auto;
}
#masthead {
	position: relative;
}
#pause-btn-frame, #prev-btn-frame, #next-btn-frame, #pause-btn, #prev-btn, #next-btn {
	z-index: 1200;
	height: 60px;
	width: 60px;
}
#pause-btn-frame, #prev-btn-frame, #next-btn-frame {
	position: absolute;
	z-index: 1000;
	height: 60px;
	width: 60px;
	cursor: pointer;
	opacity: 0;
	transition: opacity .5s ease-in-out;
}
#pause-btn-frame {
	bottom: 10px;
	left: 720px;
}
#prev-btn-frame, #next-btn-frame {
	top: 181px;
}
#prev-btn-frame {
	left: 10px;
}
#next-btn-frame {
	right: 10px;
}
#masthead:hover > #pause-btn-frame, #masthead:hover > #prev-btn-frame, #masthead:hover > #next-btn-frame {
    opacity: 1;
}

.message-container, .msg-ghost {
	color: WhiteSmoke;
	font-size: 60px;
	padding: 0px;
	text-shadow: 0px 0px 8px rgba(0,0,0,1),
				0px 0px 8px rgba(0,0,0,1),
				0px 0px 8px rgba(0,0,0,1),
				0px 0px 8px rgba(0,0,0,1),
				0px 0px 8px rgba(0,0,0,1);
}
.msg-ghost {
	position: absolute;
	z-index: 1000;
}
#thumbnails{
	width: 100%;
	height: 100px;
	display: flex;
	flex-direction: row;
}
#xpandAll {
	display: block;
	cursor: pointer;
	align-self: flex-end;
}
.xaccordion-toggle {
	cursor: pointer;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    background: #3fb58b;
    color: #1b3b1b;
    padding: .5em .5em .5em .5em;
    margin: .5em 0 .5em 0;
}
.accordion-toggle {
	cursor: pointer;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    background: #3fb58b;
    color: #1b3b1b;
    padding: .2em;
    margin: .5em 0 .5em 0;
}
.fadeGroup {
	margin: .2em;
}
.fadeGrp {
	width: 150px;
}
.transCntnr {
	font-size: 1.1em;
	width: 100px;
	text-align: center;
	padding-top: .5em;
}
.trans {
	width: 225px;
}
/*.accordion-content {
	display: none;
}
.accordion-content.default {
	display: block; !important
}*/
