#sticky-hdr {
	width: 1500px;
}

#tbl-ctrl-div {
	position: absolute;
	top: -1000px;
	right: -1000px;
}

#tbl-ctrls-reloc {
	display: flex;
	justify-content: flex-start;
	background: White;
}

.top-sticky { z-index: 50; position: fixed; top: 0; background-color: White;}

#locs_list_filter, #locs_list_length, 
#interaction_list_filter, #interaction_list_length, 
#loc_det_list_filter, #loc_det_list_length {
	display: inline-block;
	font-size: .9em;
	text-align: right;
	margin: 0 0 0 0px;
	padding: 0;
	background: White;
}

#locs_list_filter, #interaction_list_filter, #loc_det_list_filter, input {
	margin: 0 0 0 5px;
	padding: 0;
}

#locs_list_length, #interaction_list_length, #loc_det_list_length select {
	margin: 0;
	padding: 0;
}

#btn-div {
	display: inline-block;
	margin: 0 0 0 0px;
	padding: 0px 10px 0px 18px;
	float: none;
}

#btn-div a {
	margin: 0px 7px 0px 0px;
	padding: 0px 7px 0px 7px;
}

#sticky-col-hdrs {
	background: White;
}

#menu-bar-title {
	text-align: right;
	font-size: 23px;
	padding: 10px 10px 0 0;
	color: DimGray;
	height: 43px;
	width: 400px;
}

#hdrmenu {
	display: flex;
	justify-content: space-between;
    height: 43px;
    width: 1500px;
    padding: 0px 0px 0px 0px;
    margin: 0;
    border-bottom: 1px solid Gray;
	background-color: White;
}

#hdrtext {
	display: flex;
	justify-content: space-between;
	text-align: right;
    font-size: 21px;
    height: 43px;
    border-bottom: 1px solid Gray;
    padding: 9px 8px 0 12px;
}

#hdricopen {
	width: 1em;
	height: auto;
	z-index: 0;
	margin: 0 1em 0 .5em;
	position: relative;
    top: .1em;
}

#hdrmenu ul li {
    position:relative;
    display:inline-block;
    margin:0;
    padding: 0;
}

#hdrmenu > ul > li {
    margin: 0 20px 0 0;
}

#hdrmenu ul li.current-menu-item {
    background:#ddd;
}

#oimenu a {
    color: Black;
    display:inline-block;
    text-decoration:none;
    font-weight:700;
    font-size: 23px;
    line-height:32px;
    padding: .2em 1em .2em .5em;
    font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.arrow > a:after {
  content: " \25BC";
  font-size: .5em;
  display: block;
  position: absolute;
  top: .5em;
  right: .7em;
}

#oimenu {
	width: 1000px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

#oimenu li:hover {
    background: LightGrey;
}

#oimenu ul {
    display:none;
    z-index: 1000;
    position:absolute;
    top:100%;
    left:0;
    background: WhiteSmoke;
    padding: 0 0 0 0;
    box-shadow: 10px 10px 23px #888888;
}

#oimenu ul li {
    width:230px;
}

#oimenu ul a {
    line-height:120%;
    padding:10px 15px;
}

#oimenu ul ul {
    top:0;
    left:100%;
}

#oimenu .smtrigger > ul {
    display:none;
}

#oimenu .smtrigger:hover > ul {
    display:block;
}
