/*
greens-pallete:
	darkest: 	#1b3b1b
	med: 		#3fb58b
	light: 		#77cab8
	lightest: 	#a2dadd
*/

a:link {
    color: #1b3b1b;
    text-decoration: none;
}
a:visited {
    color: #1b3b1b;
    text-decoration: none;
}
a:hover {
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}
a:active {
}
form input, form select, form textarea {
    font-size: 1em;
    padding: .2em;
    margin: .5em;
}
form input[type=text] {
    width: 500px;
}
form textarea {
    vertical-align: top;
}
form button {
	border: 1px solid;
    border-radius: 10px;
    margin: 23px 0 23px 0;
    padding: .25em .5em .25em .5em;
    font-size: 1.5em;
}
form button:hover {
	border: 1.5px solid;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}
#pg-container {
	max-width: 1500px;
	position: relative;
	margin: 0 auto;
}
#masthead {
	position: relative;
}
#content-detail {
	position: absolute;
	width: 100%;
	top: 510px;
}
#content-detail p {
	text-indent: 15px;
	font-size: 1.3em;
	margin-bottom: 20px;
}
#content-detail h3 {
	font-size: 1.4em;
	margin: 15px 0px 10px 35px;
}
#detail-block {
	margin-bottom: 20px;
}
#detail-block h4 {
	margin: 15px 0 0 0;
}
#detail-block h5 {
	margin: 0 0 5px 0;
}
#introtext h3 {
	font-size: 1.2em;
	margin: .75em 0 .5em 0;
}
#introtext a {
	margin: .2em 0 0 .5em;
	font-size: 1em;
}
#introtext p {
	margin: .2em 0 0 1em;
	font-size: 1.05em;
}

#introtext .second-col{
	width: 1700px;
	margin: 0 115px 0 25px;;
}
.two-col-outer, .three-col-outer {
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
}
.first-col, .three-col-outer .second-col  {
	border-right: 1px solid #cccccc;
	margin-right: 15px;
	padding: 0 15px 0 0;
}
span.lbl {
	font-weight: bold;
}
.inln-flds {
	padding: 15px 0 10px 0;	
}
.inln-flds span {
	padding: 0 5px 0 55px;
}
.sidebar-outer {
	display: flex;
	flex-direction: row;
}
.sidebar-outer p {
	width: 100%;
}
.main-col {
	flex-grow: 8;
}
.sidebar {
	flex-grow: 2;
	padding: 15px 55px 15px 15px;
	font-size: 1.1em;
}
#side-logo {
	position: relative;
	left: 65px;
	padding-bottom: 20px;
}
#taxon-outline li {
	padding: 3px 0 0 30px;
}
#taxon-outline ul {
	padding: 0 0 0 30px;
}
#loc-desc {
	margin: 1em 0 .15em 0;
	font-size: 1.1em;
}
#loc-disp {
	font-size: 1.1em;
	height: 2.2em;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 1em;
}
.icomag {
	width: 1.5em;
	height: auto;
	z-index: 0;
	position: relative;
    top: .13em;
}
.icopen {
	width: 1.5em;
	height: auto;
	z-index: 0;
	position: relative;
    top: .1em;
}
#data-map {
	display: block;
	margin: 40px auto 40px auto;
}
#int-type-idx {
	margin-left: 2em;
	font-size: 1.3em;
}
#int-type-idx li {

	margin: 1em 0 1em 0;
}
#pause-btn-frame, #prev-btn-frame, #next-btn-frame, #pause-btn, #prev-btn, #next-btn {
	z-index: 1200;
	height: 60px;
	width: 60px;
}
#pause-btn-frame, #prev-btn-frame, #next-btn-frame {
	position: absolute;
	z-index: 1000;
	height: 60px;
	width: 60px;
	cursor: pointer;
	opacity: 0;
	transition: opacity .5s ease-in-out;
}
#pause-btn-frame {
	bottom: 10px;
	left: 720px;
}
#prev-btn-frame, #next-btn-frame {
	top: 181px;
}
#prev-btn-frame {
	left: 10px;
}
#next-btn-frame {
	right: 10px;
}

#masthead:hover > #pause-btn-frame, #masthead:hover > #prev-btn-frame, #masthead:hover > #next-btn-frame {
    opacity: 1;
}

.message-container, .msg-ghost {
	color: #a2dadd;
	font-size: 60px;

	padding: 0px;
	text-shadow: 0px 0px 8px rgba(0,0,0,1),
				0px 0px 8px rgba(0,0,0,1),
				0px 0px 8px rgba(0,0,0,1),
				0px 0px 8px rgba(0,0,0,1),
				0px 0px 8px rgba(0,0,0,1);
}
.msg-ghost {
	position: absolute;
	z-index: 1000;
}
#footer {
	font-size: .7em;
    width:100%;
    margin-top: 3px;
    padding: 10px 0 0 0;
    border-top:1px solid #000;
}
