{% extends "layout.html.twig" %}

{% block headline %}
	New Content Block
{% endblock headline %}

{% block detail %}
    <div id="top-form-container">
        {{ form(form) }}
	</div>
{% endblock detail %}
