{% extends "layout.html.twig" %}

{% set domains = entities %}

{% block headline %}
    Taxa Families
{% endblock headline %}

{% block detail %}
    <ul id="ul-big">
        {% for domain in domains %}
            {% set taxonName = domain.taxon.displayName %}
            <li>
                <a href="{{ path('app_domain_show', { 'slug': domain.slug }) }}">{{ domain }} - {{ taxonName }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock detail %}
