{% extends "layout.html.twig" %}

{% set habitattypes = entities %}

{% set view_all_route = path('app_location') %}
{% set view_all_ent_plural = 'Locations' %}

{% set new_ent_route = path('app_habitat_type_new') %}
{% set this_ent_plural = 'Habitat Types' %}
{% set this_ent_singl = 'Habitat Type' %}

{% block datatable %}loc_det_list{% endblock datatable %}

{% block headline %}
	{{ include('view_all_uplink.html.twig') }}
	{{ include('idx_headline.html.twig') }}
{% endblock headline %}

{% block detail %}
	<div style="width: 50%; margin: 0 auto;">
	{{ include('habtype_tbl.html.twig') }}
	</div>
{% endblock detail %}
