// WYSIWYG
// DATATABLES 
// MISC
/*------------- WYSIWYG STYLES -----------------*/
.wysiwyg 
    position: relative

.wsywigEdit 
    position: absolute
    top: 0
    right: 0
    height: 1.5em
    z-index: 10
    cursor: pointer

#pg-hdr > button 
    width: 133px
    font-size: .9em

.adminbttn 
    background: #3399ff !important
    color: white !important
    border-radius: 5px !important
    box-shadow: 2px 2px 3px rgba(0,0,0,0.3)

.adminbttn:hover 
    background: #1A80E6
    box-shadow: 3px 3px 4px rgba(0,0,0,0.6)
/*------------- DATA TABLES STYLES -----------------*/
#tbl-ctrl-div  // data-tables button container
    position: absolute
    top: -1000px
    right: -1000px
    
#btn-div
    flex-wrap wrap 
    justify-content center

#btn-div > *
    margin-right 1em

input[type="search"]
    border 1px solid grey
    height 23px
    
.dt-bttn //data-tables
    font-size: 14px !important;
    line-height: 1.4 !important;
    padding: 2px 3px 1px 3px !important;
    height 25px
/*------------- MISC STYLES -----------------*/
#error_logo /* Logo used on error and 404 pages */
    width: 50%   /* RESPONSIVE */
    margin: 2% auto 0 auto

.modal-msg // intro.js modal message window
    min-width: 333px !important
    
/* ------- REGISTRATION/LOGIN FORMS --------------- */
.g-recaptcha
    margin: 1em 0
    
#reg-submit
    opacity: .5