@-moz-document url-prefix() {
    #filter-opts {
        width: 139px;
    }
    .hide-fltr-bttm-border:before {
        width: 137px;
        left: 731px;
        top: 59px;
    }
    .hide-fltr-bttm-border-vert:before {
        top: 59px;
        width: 107px;
        left: 764px;    
    }
    #list-opts {
        width: 132px;
    }
    .hide-int-bttm-border:before {
        width: 131px;
        left: 144px;
        top: 59px;
    }
    #shw-map {
        width: 206px;
    }
    @media screen and (max-width: 1500px) { 
        #db-opts {
            margin-top: 1em;
        }
        #list-opts {
            width: 134px;
        }
        #content-detail #db-opts {
            font-size: 1.05em;
        }
        #content-detail  #focus-opts {
            flex: 0 0 442px;
        }
        #content-detail .hide-int-bttm-border::before {
            left: 144px;
            top: 57px;
        }
        #content-detail .hide-fltr-bttm-border::before {
            left: 720px;
            top: 57px;
        }
        #content-detail .hide-fltr-bttm-border-vert::before {
            left: 723px;
            top: 57px;
            width: 134px;
        }
        #content-detail #filter-opts-pnl.vert::before {
            top: 60px;
            left: 718px;
        }
    }
}