/* ---- Selectize ----------------------------------------------------------- */
.selectize-input {
    padding: 4px 33px 4px 4px !important;
}
.selectize-input, .selectize-control.single .selectize-input.input-active {
    display: inline-flex;
}
.selectize-dropdown {
    z-index: 1111;
}
/* -------------- Search Options -------------------------------------------- */
#db-opts {  /* .flex-row also on elem */
    margin: 1em auto 0 auto;
    width: 100%;
    min-width: 1205px;
    font-size: 1.1em;
}
#db-opts button {
    height: 29px;
}
#help-opts {
    padding: 5px 5px 5px 0;
}
#misc-opts {
    padding: 5px;
}
input[type="radio"], input[type="checkbox"] {
    margin-right: 0;
}
.focus-sel {
    width: 88px;
    margin: 0 .5em 0 .5em;
}
.view-sel {
    width: 108px;
    margin-left: .5em;
}
#data-opts {
    padding: 5px;
    /*border-right: 1px black solid;*/
    border-left: 1px black solid;
}
/* ============= Pop-out Options Panel ================ */
#fltr-int-panl-cntnr {
    width: 100%;
}
.pop-out-panel {
    width: 100%;
    background: #f2f9f8;
    padding: 8px 4px 8px 4px;
    border: black 1px solid;
    transition: all .5s ease-in-out;
    overflow-y: hidden;
}
.pop-out-panel.closed {
    border-radius: 0;
    padding: 0;
    border: 0;
    transition: all .5s ease-in-out;
    overflow-y: hidden;    
}
.shw-col-borders {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: black 1px solid;
    transition: all .5s ease-in-out;
    /*border-right: black 1px solid !important;*/
}
.panel-open-toggle {
    box-shadow: inset 0px 4px 10px #C1C1CA;
}
.admin-open-toggle {
    box-shadow: inset 0px 4px 10px darkslateblue;
}
/** ---- Filter Options ---- */
#filter-opts {
    padding: 5px;
    width: 135px;
    border-left: 1px black solid;
    border-right: 1px black solid;
}
#filter-opts.shw-col-borders {
    background: rgba(121, 201, 183, .1);
}
#filter-opts-pnl {
    max-height: 222px;
    border-radius: 10px;
}
#filter-opts-pnl.vert {
    max-height: 444px;
    border-left: none;
}
#filter-opts-pnl.closed {
    max-height: 0;
}
#filter-opts-pnl span {
    padding-top: 5px;
}
#filter-col1 {
    flex: 0 1 618px;
    border-right: black 1px solid;
}
#filter-col1.vert {
    flex: initial;
    border-bottom: black 1px solid;
    border-right: none;
}
#focus-filter-hdr {
    align-self: center;
    padding-bottom: 5px;
    font-weight: 600;
}
#focus-filters {
    margin-bottom: .75em;
}
/* --- Time Updated Filter --- */
#shw-chngd-ints {
    width: 100%;
    margin-top: auto;
    align-items: center;
}
#filter-col1.vert #shw-chngd-ints {
    width: auto;
    margin-bottom: 5px;
}
#shw-chngd {
    margin: 7px;
}
.time-fltr-sel {
    margin: 0 .5em;
    width: 111px;
}
#time-cal, .flatpickr-input {
    width: 202px;
    font-size: .85em;
    padding: 4px;
    margin-left: 11px;
}
/* --- Filter Set Section --- */
#stored-filters {
    flex: 1 0 472px;
    padding-left: 10px;
}
#stored-filters.vert {
    flex: initial;
}
.filter-set-details {
    flex-grow: 1;
}
#filter-set-name + input {
    min-width: 222px;
    font-weight: 600;
    font-size: .8em;
    padding-left: 3px;
    flex-grow: 1;
}
#stored-filters textarea {
    /*width: 487px;*/
    font-weight: 600;
    font-size: .8em;
    padding-left: 3px;
    flex-grow: 1
}
.fltr-desc {
    width: 95px;
    padding-top: 4px;
}
#stored-filters button {
    height: 27px;
    width: 88px;
}
#apply-filter {
    margin-top: 5px;
}
/*#delete-filter {
    align-self: flex-start;
}*/
.saved-filters-sel {
    width: 236px;
}
#filter-set-name {
    width: 46px !important;
    margin: 0 .3em 0 .6em;
}
#futrDevMsg {
    margin: 0 5px 0 5px;
}
.sel-cntnr {          /* .flex-row also on elems */
    margin: .3em;
    flex: 0 0 auto;
    width: 222px;    
    justify-content: space-between;
}
button[name="futureDevBttn"] {
    align-self: flex-end;
    opacity: .7;
}
.txtLbl {
    width: 303px;
}
.txtLbl input {
    height: 27px;
    width: 250px;
}
.taxonLbl {
    margin: .3em 0 0 1em;
    width: 273px;
}
.taxonSel {  /*selectize combobox*/
    width: 202px;
}
.locLbl {
    width: 282px;
}
.locSel {
    width: 217px;
}
.locTxtInput {
    width: 238px !important;
}
/* ----- Data Lists' Panel ------ */
#list-opts {
    width: 128px;
    border-right: 1px black solid;
    border-left: 1px black solid;
    padding: 5px;
}
#list-opts.shw-col-borders {
    background: #e2f2f3;
}
#int-opts {
    max-height: 222px;
    align-items: stretch;
    background: #e2f2f3;
    border-radius: 10px;
}
#int-opts.vert {
    max-height: 444px;
}
#int-opts.closed {
    max-height: 0;
}
#int-opts>div {
    padding: 5px; 
}
#int-opts span {
    align-self: center;
    margin: 2px 0 10px 0;
}
#int-opts.vert span {
    align-self: center;
    margin: inherit;
}
#int-lists {
    flex: 0 0 333px;
}
#int-lists.vert {
    flex: initial;
}
#list-sel-cntnr.vert {
    justify-content: space-between;
}
#list-sel-cntnr.vert .int-list-sel {
    flex: 1 0 264px;
}
#load-list-cntnr {
    align-self: flex-end;
    margin-top: 44px;
    text-align: right;
}
#load-list-cntnr.vert {
    margin: 0;
    align-self: center;
}
#load-list {
    margin-right: 0;
    width: 200px;
}
#load-list+div {
    opacity: .3;
    align-self: flex-end;
    font-size: .9em;
    margin-top: .25em;
}
#load-list-cntnr.vert #load-list+div {
    margin: auto 0 auto 5px;
}
.int-list-sel {
    margin: auto 0 auto 0;
}
#list-details {
    flex: 0 1 490px;
    border-left: black 1px solid;
    border-right: black 1px solid;
    margin-left: .5em;
}
#list-details.vert {
    flex: initial;
    border-left: none;
    border-right: none;
    border-top: black 1px solid;
    border-bottom: black 1px solid;
}
#list-details>span {
    font-weight: 600;
}
#list-details div, #stored-filters .spaced {
    margin: .2em;
}
#list-details input {
    min-width: 333px;
    font-weight: 600;
    font-size: .8em;
    padding-left: 3px;
}
#list-details.vert input {
    min-width: 306px;
}
#list-details textarea {
    width: 488px;
    height: 50px;
    font-weight: 600;
    font-size: .8em;
    padding-left: 3px;
}
#list-details.vert textarea {
    width: 566px;
    height: 33px;
}
.details-desc {
    width: 99px;
}
#list-count {
    width: 100%;
}
#list-count.vert {
    width: 40px;
}
#mod-list-pnl {
    flex: 1 1 412px;
    padding-left: 0px;
}
#mod-list-pnl.vert {
    flex: initial;
}
#mod-mode {
    margin: .4em 1em;
}
#mod-list-pnl.vert #mod-mode {
    margin: 8px 0 0 1em;
}
#mod-radios {
    margin-left: 1em;
}
#mod-list-pnl.vert #mod-radios {
    margin: 5px 0 0 0;
}
#mod-list-pnl div input[type="radio"] {
    margin: .3em .5em 0 1em;
}
input[name="mod-list"] {
    margin-top: 3px;
}
#mod-radios label {
    padding-top: 3px;
}
#unsel-rows {
    margin-left: 20px;
}
#mod-info {
    margin: .5em !important;
    border: 1px solid black;
    border-radius: 5px;
    padding: .25em;
    color: darkslategray;
    text-align: center;
    opacity: 0;
    font-size: .85em;
}
#set-submit-msg, #list-submit-msg { 
    opacity: 0;
}
.pnl-submit-msg {
    color: green;
    margin: 0 .25em .25em .25em !important;
    border: 1px green solid;
    border-radius: 5px;
    padding: 5px;
    width: 26px;
    height: 26px;
}
.submit-cntnr {
    margin-top: auto;
    width: 100%;
    height: 24px;
}
.submit-cntnr + div {
    margin-right: auto;
    flex-grow: 1;
}
.submit-cntnr :last-child {
    margin-left: auto;
}
#set-confm-cntnr {
    display: none;
    width: min-content;
}
#confm-set-delete {
    margin-bottom: .5em;
}
#list-confm-cntnr {
    display: none;
    height: 100%
}
/* --------- Table Tool Bar --------- */
#tool-bar {
    margin: .7em auto .2em auto;
    padding: .1em;
    width: 100%;
    height: 28px;
    font-size: 1.1em;
}
#tbl-cnt {
    padding-top: 4px;
    font-size: .9em;
    color: #666;
}
#view-fltr {
    font-size: .9em;
    color: #666;
    margin-right: 3px;
}
#tbl-status {
    flex-grow: 1;
    padding: .2em;  
}
#xtrnl-filter-status {
    flex-shrink: 1;
    margin-right: .3em;
}
#tbl-filter-status {
    flex-grow: 1;
    max-width: 825px;
}
/*------------ Buttons ----------------------*/
.ico-bttn {
    padding-top: 3px;
}
.ico-bttn:before {
    float: left;
    margin: 2px 5px 0 0;
}
#filter:before {
    content: url(./images/filter.svg);
    width: 15px;
}
button[name="reset-tbl"]:before, button[name="clear-list"]:before {
    content: url(./images/undo-alt.svg);
    width: 15px;
    margin: 2px;
}
button[name="csv"]:before {
    content: url(./images/file-download.svg);
    width: 12px;
}
#new-data:before {
    content: url(./images/plus.svg);
    width: 14px;
}
#rvw-data:before {
    content: url(./images/eye.svg);
    width: 19px;
}
#shw-map:before {
    content: url(./images/globe-africa.svg);
    width: 17px;
}
button[name="int-set"]:before {
    content: url(./images/tasks.svg);
    width: 16px;
}
button[name="xpand-all"] {
    width: 105px;
}
button[name="xpand-1"], button[name="collapse-1"] {
    font-weight: 600;
}
button[name="show-hide-col"] {
    opacity: .5;
    cursor: not-allowed;
}
#xpand-tree button {
    margin: 0em;
}
#xpand-tree {
    margin-right: .3em;
}
.skipFormData {
    color: slategray;
    padding-top: .5em;
}
/**------------------------------ Table Styes ------------------------------- */
#db-view {
    height: 86vh;
    border: black 1px solid;
}
#search-tbl {
    height: 100%;
}
.tbl-edit { 
    height: 22px;
    width: 20px;
    position: relative;
    left: 9px;
}
.ag-menu{
    z-index: 100;
}
.row-purple {
    background-color: rgba(128,0,128,.13) !important; /* purple */
}
.row-green {
    background-color: rgba(0,128,0,.15) !important; /* green */
}
.row-blue {
    background-color: rgba(0,0,255,.15) !important; /* blue */
}
.row-orange {
    background-color: rgba(255,128,0,.17) !important; /* orange */
}
.row-turquoise {
    background-color: rgba(0,245,255,.11) !important; /* turquoise */
}
.row-yellow {
    background-color: rgba(255,255,0,.2) !important; /* yellow */
}
.row-red {
    background-color: rgba(255,0,0,.15) !important; /* red */
}
/**-------------------------------- Data Map Styes -------------------------- */
#map {
    height: 100%;
}
/* -------- Legend Styles -------- */
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    color: #555;
    background: white;
    background: rgba(255,255,255,0.7);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px 5px !important;
    color: #777;
}
.legend {
    line-height: 18px;
}
#int-legend span {
    padding-left: 16px;
}
.legend i {
    border-radius: 50%;
    width: 18px;
    height: 18px;
    float: left;
    margin: 2px 8px 2px 8px;
    padding-right: 3px;
    opacity: 0.8;
}
#filter-in-tbl-msg {
    position: absolute;    
    top: 101px;
    left: 810px;
}
/* ------ Hover Tooltip ----------- */
.info-tooltip {
    font-size:1.2em;
}
.info-tooltip div.tip {
    display: none;
    background: white;
    color: #333;
    box-shadow: 0 3px 14px rgba(0,0,0,0.4);
    text-align: left;
    border-radius: 12px;
    padding: 13px 19px;
    line-height: 1.4;
    z-index: 50;
}
.info-tooltip:hover {
    position:relative;
    cursor: pointer; 
}
.info-tooltip:hover div.tip {
    position:absolute; 
    top: 18px; 
    left: 22px; 
    display:block; 
    width: 333px; 
}
.popup-bttn {
    font-size: 14px !important;
}
/*----------------------- Search Table Popup ---------------------------------*/
#db-popup {
    background: #FFF;
    display: none;
    position: relative;
    z-index: 2000;
    text-align: center;
    font-size: 20px;
    box-shadow: 3px 3px 20px 1px rgba(0,0,0,0.75);
    bottom: 75%;
    left: 45%;
    width: 500px;
    height: 100px;
    padding: 22px;
    margin-left: -150px;
    margin-top: -50px;
    border-radius: 5px;
}
#db-overlay {
    display: none;
    position: absolute;
    z-index: 1000;               
    top: 0;
    left: 0;
    background-color: grey;
    width: 100%;
    height: 91%;
    opacity: .2;
}
/*-------------------------- Database CRUD Popup -----------------------------*/
#top-hdr {
    font-size: 1.3em;
    margin-bottom: 1em;
}
#success {
    margin-bottom: 15px;
    font-weight: bold;
    border: 2px solid;
    padding: 10px; 
    display: none;
}
#success>div {
    justify-content: space-between;
}
#success>div>p {
    padding-top: 6px;
}
.form-popup [id$="-hdr"] {
    margin-bottom: 10px;
    text-align: center;
    padding-top: 4px;
}
#form-details {
    flex: 1 1 333px;
    margin: .5em .2em 0 .2em;
    padding: 0 .5em .5em .5em;
    overflow-y: scroll;
    overflow-x: hidden;
}
#form-details h3 {
    text-align: center;
    font-size: 1.15em;
    margin-bottom: .5em;
}
#form-details p {
    color: darkgrey;   
    text-align: right
}
.det-div {
    min-height: 50px;
    margin: .5em 0 1em 0;
}
.det-div div {
    padding: .5em 0 0 .5em;
}
.det-div div li {
    padding: .2em
}
.cnt-div {
    margin: .5em;
}
.cnt-div div, .cnt-div span {
    padding: .25em;
    width: 44px;
    text-align: right
}
/*------------------------------- Form Styles --------------------------------*/
#top-form {
    font-size: 1em;
    flex-wrap: wrap;
}
.exit-row {
    width: 100%;
    justify-content: flex-end;
    display: flex;
}
.exit-bttn {
    width: 2em;
    height: 2em;
    font-weight: bold;
}
#exit-sub-form {
    position: relative;
    left: 24%;
    font-size: .75em !important;
}
div[id$="_Rows"] {
    min-width: 100%;
}
[id$="_row"] {
    padding: .2em .75em .3em  .75em;    
    width: 100%;
}
#sub-hdr, #sub2-hdr {
    font-size: 1.1em;
}
form[name="top"] p, form[name="top"] .bttn-cntnr {
    width: 100%;
}
.all-fields-cntnr {
    padding-top: 1em; 
}
.field-row {
    justify-content: space-between;
    margin-top: .3em;
}
[id$="-sel-cntnr"]>div {
    margin-top: .5em
}
/** ------------ Error Styles -------------- */
[id$="_errs"] {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    color: red;
}
[id$="_errs"] span {
    margin-top: .3em;
    justify-content: center;
}
[class$="active-errs"] {
    padding: .3em;
    margin-bottom: .3em;
}
[id$="_errs"]>p {
    padding-top: .4em;
    width: initial !important;
}
#data_errs .exit-bttn {
    width: 3em;
}
.err-exit {
    color: darkred;
    height: 1.75em;
    width: 1.7em;
    margin-left: 1em !important;
}
/** ------------- Field Styles ------------- */
.top-pin {
    margin: .6em 0 0 .6em !important;
}
#top-form input, #top-form select, #top-form textarea {
    padding: .2em;
    margin: 0;
    font-size: .95em;
}
#Note-txt {
    border-color: #b8b8b8;
}
.bttn-cntnr {
    align-self: flex-end;
    padding: 10px;
}
.bttn-cntnr input {
    padding: 3px !important;
    margin: 3px !important;
}
/*----------------- Form specific styles -----------------------*/
#Authors-lbl, #Editors-lbl {
    padding-top: .7em;
}
#Authors-sel-cntnr, #Editors-sel-cntnr {
    width: 329px;
}
/**--- Taxon Edit-Form ---*/
.pTaxon#sub-form {
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid grey;
    border-radius: 5px;
    margin: .5em;
    padding: .5em;
}
.pTaxon #sub2-form {
    left: -.5em;
    position: relative;
}
.realm-row {
    justify-content: flex-start !important; 
}
select[id$="txn-lvl"] + div {
    width: 150px;
}
/*------------- Loc Map Styles ----------------*/
#loc-note {
    margin: .5em auto 0 auto;
    color: slategrey;
}
#loc-note .map-link {
    text-decoration: underline;
    cursor: pointer;
}
#loc-map {
    border: 1px grey solid;
    height: 366px;
    width: 92%;
    margin: 1em auto 0 auto;
}
.loc-gps-note {
    width:initial; 
    margin:auto; 
    text-align: center;
    color: slategrey;
    margin-top: 3px;
}
.new-loc-popup {
    font-size: 1.1em;
}
.new-loc-popup #err {
    color: red;
    padding: 5px 5px 5px 10px;
}
/* ------------- Map Markers ------------- */
.single-marker {
    width: 33px !important;
    height: 33px !important;
    margin-left: -12px;
    margin-top: -15px;
    border-radius: 25px;
    border: 4px solid rgba(181, 226, 140, 0.7);
    text-align: center;
    color: #222;
    padding-top: 4px;
    background-color: rgba(110, 204, 57, 0.9);
    font-size: 11px;
}
.form-noGps { 
    width: 33px !important;
    height: 33px !important;
    margin-left: -12px;
    margin-top: -15px;
    border-radius: 25px;
    border: 4px solid rgba(241, 211, 87, 0.7); /*yellow*/
    text-align: center;
    color: #222;
    padding-top: 4px;
    background-color: rgba(240, 194, 12, 0.9);
    font-size: 11px;
}
/* --- Geocoder Search Elem --- */
.leaflet-control-geocoder {
    font-size: 16px;
}
.leaflet-control-geocoder-icon {
    margin: initial;
    padding: initial;
    font-size: initial;
}
/* --- Custom Map Icons --- */
input.custom-icon {
    height: 34px;
    width: 34px;
    border: 2px solid rgba(0,0,0,0.39);
    border-radius: 4px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 17px 17px;
    margin: initial;
    padding: initial;
    font-size: initial;
    cursor: pointer;
}
input.active-icon {
    background-color: rgba(40, 143, 235, .4);
    border-color: #288feb;
}
/*----------------------------------------------------------------------------*/
/*------------------ Screen Width < 1500px -----------------------------------*/
/* Designed for laptop resolutions as low as 1366x768 and 1334x889 */
@media screen and (max-width: 1500px) { 
    /*--------------- Search Page ---------------------*/
    #db-opts {
        /*margin: 1em auto 0 .5em;*/
    }
    #fltr-int-panl-cntnr #filter-opts-pnl.vert {
        width: 604px;
    }
    #filter-opts-pnl #stored-filters button {
        width: 60px;
    }
    #filter-opts-pnl #stored-filters .saved-filters-sel {
        width: 196px;
    }
    #set-submit-msg+span {
        display: none;
    }
    #focus-filters .taxonLbl {
        width: 257px;
    }
    #focus-filters .taxonSel {
        width: 186px;
    }
    #focus-filters .locLbl {
        width: 267px;
    }
    #focus-filters .locSel {
        width: 201px;
    }
    #int-opts #list-details textarea {
        width: 333px;
    }
    #int-opts.vert #list-details textarea {
        width: auto;
        flex-grow: 1;
    }
} 
