{% extends "layout.html.twig" %}

{% set taxonym = entity %}

{% block detail %}

{% endblock detail %}


{% block adminlnks %}
    {% if is_granted('ROLE_ADMIN') %}
        <h3>Admin Links</h3>
        <a href="{{ path('app_taxonym_edit', { 'id': taxonym.id }) }}">Edit Taxonym</a>
    {% endif %}
{% endblock adminlnks %}

{% block sidebar %}
    <h3><a href="{{ path('app_taxonym') }}">View All Taxonyms</a></h3>
{% endblock sidebar %}
