
/* ======================= MAP ICONS ======================================== */
/* --- Custom Map Icons --- */
#form-map .custom-icon
    height: 34px
    width: 34px
    border: 1px solid rgba(0,0,0,0.39)
    border-radius: 4px
    background-color: white
    background-repeat: no-repeat
    background-position: center
    background-size: 17px 17px
    padding: initial
    font-size: initial
    cursor: pointer

#form-map .active-icon
    background-color: rgba(40, 143, 235, .4)
    border-color: #288feb

/* --- Marker Drag Elem --- */
.leaflet-control-drag-icon
    background-image: url('../../../images/icons/arrows-alt.svg') !important
/* --- Create New Loc Elem --- */
.leaflet-control-create-icon
    background-image: url('../../../images/icons/map-marker-alt.svg') !important
/* --- Click To Create New Loc Elem --- */
.leaflet-control-click-create-icon
    background-image: url('../../../images/icons/map-marked-alt.svg') !important
/* --- Draw New Loc Boundary Elem --- */
.leaflet-control-draw-icon
    background-image: url('../../../images/icons/pencil-alt.svg') !important
