

/* ------------ Bug Report -------------------- */
.bugs-popup
    width 510px
    height 666px
    display: flex !important
    flex-direction: column
    background-color: #a2dadd;
    box-shadow: 5px 5px 7px rgba(0,0,0,0.6);
    overflow-y: scroll

.bug-prompt
    margin-bottom 1em

.bug-prompt:before
    padding-top .5em
    margin-right .25em

.bug-span
    font-weight 600

.bug-rprt-input
    width 444px
    margin-top .5em

textarea.bug-rprt-input
    height 75px

.rprt-status
    text-align center
    font-weight 600

/* ------------ Search Tips -------------------- */
#tips-close-bttn
    position: relative
    margin-top: .5em
    left: 91%
    bottom: -2vh

#b-overlay-popup.tips-popup
    overflow-y: scroll
    max-height 80vh
    top 5%
    max-width 777px
