// Core Form
/*-------------------------- Database CRUD Popup -----------------------------*/
/* ============= Core Form =================== */
.form-ovrly
    align-items: center
    display flex !important
    // height: 91vh
    
.form-popup 
    flex: 0 1 1330px
    display flex
    max-height: 88vh
    min-width: 1200px
    max-width: 1330px;
    top: 5% !important
    padding: 15px
    text-align: left
    justify-content: space-between
    flex-direction: column
    @media screen and (max-width: 1330px) 
        padding 7px

