
/* --- Marker Drag Elem --- */
.leaflet-control-drag-icon 
    background-image: url('../../images/icons/arrows-alt.svg') !important
/* --- Create New Loc Elem --- */
.leaflet-control-create-icon 
    background-image: url('../../images/icons/map-marker-alt.svg') !important
/* --- Click To Create New Loc Elem --- */
.leaflet-control-click-create-icon 
    background-image: url('../../images/icons/map-marked-alt.svg') !important
/* --- Draw New Loc Boundary Elem --- */
.leaflet-control-draw-icon 
    background-image: url('../../images/icons/pencil-alt.svg') !important
 