{% extends "layout.html.twig" %}

{% set authors = entities %}

{% block pageid %}exprtContnt{% endblock %}

{% block datatable %}auth_exprt_tbl{% endblock datatable %}

{% block masthead %}
	<div class="hiddenElem" id="masthead"  data-hide-slider="true"></div>
{% endblock %}

{% block headline %}
	Exporting Authors
{% endblock headline %}

{% block detail %}
  {{ include('author/auth_exprt_tbl.html.twig') }}
{% endblock detail %}
