/**
 *
 * TODO: ENSURE ALL STYLES ARE RELEVANT TO THE CURRENT STRUCTURE
 */
 /* ====================== DETAIL PANEL ====================================== */
#form-details
    width: 18em
    margin: .5em .2em 0 .2em
    padding: 0 .5em .5em .5em

#form-details.interaction
    width: 33em

#form-details h3
    text-align: center
    font-size: 1.15em
    margin-bottom: .5em

#form-details p
    color: darkgrey
    text-align: right

#det-cnt-cntnr
    margin-bottom: 3em
/* --------------------- INTERACTION DETAILS -------------------------------- */
.det-div
    min-height: 50px
    margin: .5em 0 1em 0

.det-div div
    padding: .5em 0 0 .5em

.det-div div li
    padding: .2em
/* --------------------- GENERAL COUNT DETAILS ------------------------------ */
.cnt-div
    margin: .5em

.cnt-div div, .cnt-div span
    padding: .25em
    width: 2em
    text-align: right