/*
 * Main style sheet for batplant.org
 */
/* ----------- VARIABLES ------------------ */
/* greens-pallete */
// --darkest-g = #1b3b1b
// --darker-g = #245A37
--dark-g = #2D7853
// --med-g = #36976F
// --light-g = #3fb58b
// --lighter-g = #77cab8
// --lightest-g = #a2dadd
/* ---------- ROOT ELEM & UTIL ------------- */
@import "root-util"
/* ----------- PAGE STRUCTURE -------------- */
$content-width
    max-width: 100vw   
    width 1330px
    @media screen and (min-width: 1500px)
            max-width: 1500px 
            width 1500px      
    @media screen and (max-width: 1500px) and (min-width: 1330px)
            max-width: 1330px
            
#pg-container
    @extend $content-width
    position: relative
    margin: 0 auto    
    
#content-detail
    position: absolute
    z-index: -1
    width: 100%
    padding .5em
    top: calc(33vh + 86px) > 506px ? 506px : calc(33vh + 86px);
    @media screen and (min-width: 1330px)
        top: 461px
        margin-top 1em
    @media screen and (max-width: 1330px)
        margin-top .5em
        top: calc(33vh + 86px)

#detail-block
    min-height 33vh

.first-col, .second-col 
    max-width 100vw
    padding .5em

.top-pgs p 
    margin 1em
    font-size 1.15em

#footer 
    width: 100%
    padding: 1em 0 3em 0
    border-top: 1px solid #000
    justify-content: space-between
    margin-top 1em

#footer p 
    font-size .8em
/*------------ IMAGE SLIDER ---------------- */
@import "img-slider"
/* -------- HEADER & NAVIGATION ------------ */
@import "nav"
/* ------- OVERLAY & POPUP WINDOWS ---------- */
@import "popups"
/* ------- WYSIWYG / DATATABLES / MISC ------ */
@import "misc"
/* ----------- PAGE SPECIFIC ---------------- */
@import "pages"