{% extends "layout.html.twig" %}

{% set attributions = entities %}

{% block detail %}
    <ul>
        {% for attribution in attributions %}
            <li>
                <a href="{{ path('app_attribution_show', { 'id': attribution.id }) }}"> {{ attribution }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock detail %}

{% block adminlnks %}
    {% if is_granted('ROLE_ADMIN') %}
        <h3>Admin Links</h3>
<a href="{{ path('app_attribution_new') }}">Add Attribution</a>
    {% endif %}
{% endblock adminlnks %}
