/**
 * Entty show page stylus code.
 *
 * TOC:
 *    DATA SECTION
 *    DATA-ROW CELL
 */
/* --------------------------- DATA SECTION --------------------------------- */
.data-sect
    margin: 1em
    
.data-sect h3
    font-weight: 600
    
.data-sect > *
    margin-bottom: 1em
    justify-content: space-between
    width: 100%
    
.sect-row > .group-row
    width: 100%
/* ------------- DATA-ROW CELL ------------------------- */
.data-sect label
    font-weight: 600
    
.data-sect > div
    margin-left: 1em
        
.cell-data
    margin: .5em 0
    line-height: 1.4

.cell-data > *
    margin: 0 .5em
    
.cell-data > div
    min-width: 122px
    
.max-cntnt
    width: max-content
