/**
 * Entty show page stylus code.
 *
 * TOC:
 *    DATA SECTION
 *      DATA-ROW CELL
 *    RESPONSIVE STYLES
 */
@import '../util/*'
/* =========================== DATA SECTION ================================= */
.data-sect
    @extend .flex-col
    margin: 1em

.data-sect h3
    font-weight: 600

.data-sect > *
    margin-bottom: 1em
    justify-content: space-between
    width: 100%
/* -------------------------- SECTION ROW ----------------------------------- */
.sect-row
    @extend .flex-row

.sect-row > .group-row
    width: 100%
/* ----------------------------- ROW CELL ----------------------------------- */
.data-sect label
    font-weight: 600

.data-sect > div
    margin-left: 1em

.cell-data
    margin: .5em 0
    line-height: 1.4

.cell-data > *
    margin: 0 .5em

.cell-data > div
    min-width: 122px
/* --------------------------- UTIL CLASSES --------------------------------- */
.max-cntnt
    width: max-content
.r-mgn2
    margin-right: 2em
/* ------------- UTIL CLASSES ------------------------- */
#Citation-cell
    max-width: 42vw

#InteractionDetails-data-sect #sect-row1
    justify-content: flex-start

#InteractionDetails-data-sect #sect-row1 > div
    margin-right: 5em


@media $mqTablet
    .sect-row
        flex-wrap: wrap

    #Citation-cell
        max-width: unset

    #InteractionDetails-data-sect #sect-row1 > div
        margin-right: unset

    .max-cntnt
        width: unset

/* ---------------------- SPECIALIZED STYLES -------------------------------- */
.show-int-cnt
    display: inline-block;
    width: 2.2em