#entity-show .data-sect
    margin: 1em
    
#entity-show .data-sect > *
    margin-bottom: 1em
    
#entity-show .data-sect label
    margin: .5em
    
#entity-show .int-data > *
    margin-left: 1em
    align-self: center
    
#entity-show .int-data > div
    min-width: 122px
