<div id='review-pnl' class="flex-row pop-out-panel closed">
    <div id="rvw-pnl-col1" class="flex-col">               <!-- Select records to review -->
        <div class="flex-row spaced">
            <button id="rvw-hlp-col1" class="tbl-bttn hlp-bttn">?</button>
            <span style="flex-grow: 1;"></span>
            <div id="rvw-hdr-col1">Select Records To Review</div>
            <span style="flex-grow: 1.6;"></span>
        </div>
        <label id="data-rvw-date-range" class="flex-row field-cntnr">
            <span>Date Range: </span>
            <input type="text" id="rvw-date-start" class="date-range-input">
            <input type="text" id="rvw-date-end" class="date-range-input">
        </label>
        <label class="flex-row field-cntnr">
            <span>Status: </span>
            <select id="sel-rvw-status" class="rvw-sel"></select>
        </label>
        <button id="rvw-cntrl-bttn" class="tbl-bttn" data-review="false">Start Review</button>
    </div>
    <div id="rvw-pnl-col2" class='flex-col'>                      <!-- Reviewing records details -->
        <div class="flex-row spaced">
            <button id="rvw-hlp-col2" class="tbl-bttn hlp-bttn">?</button>
            <span style="flex-grow: 1;"></span>
            <div id="rvw-hdr-col2">Reviewing Records</div>
            <span style="flex-grow: 1.6;"></span>
        </div>
        <div id="rvw-pnl-col2-content" class="flex-col"></div>
    </div>
    <div id="rvw-pnl-col3" class="flex-col">                                <!-- Modification/statistics -->
        <div class="flex-row spaced">
            <button id="rvw-hlp-col3" class="tbl-bttn hlp-bttn">?</button>
            <span style="flex-grow: 1;"></span>
            <div id="rvw-hdr-col3">Your Contributions</div>
            <span style="flex-grow: 1.6;"></span>
        </div>
        <div id="rvw-pnl-col3-content" class="flex-col">
            <label id="review-contrib" class="flex-row field-cntnr">
                <span>Contributed:</span>
                <span>## new records, ## updates</span>
            </label>
            <label id="review-pending" class="flex-row field-cntnr">
                <span>Pending:</span>
                <span>## records</span>
                <div style="flex-grow:1;"></div>
                <input type="button" class="tbl-bttn" value="View">
            </label>
            <label id="review-rejected" class="flex-row field-cntnr">
                <span>Returned:</span>
                <span>## records</span>
                <div style="flex-grow:1;"></div>
                <input type="button" class="tbl-bttn" value="View">
            </label>
        </div>
    </div>
</div>
