<table id="auth_exprt_tbl" class="display" style="width: 100%;">
    <thead>
        <tr>
            <th>Short</th>
            <th>Last</th>
            <th>First</th>
            <th>Middle</th>
            <th>Suffix</th>
        </tr>
    </thead>
    <tbody>
        {% for author in authors %}
            {% set first = '--first-' %}
            {% set middle = '' %}
            {% set nameparts = author.fullname|split(',') %}
            {% if nameparts|length > 1 %}
                {% set firstmiddle = nameparts[1]|trim|split(' ') %}
                {% if firstmiddle|length < 2 %}
                    {% set first = firstmiddle|join|trim('.') %}
                {% else %}
                    {% set first = firstmiddle[0]|trim('.') %}
                    {% if firstmiddle|length > 2 %}
                        {% set middle = firstmiddle[1]|trim('.') ~ ' ' ~ firstmiddle[2]|trim('.') %}
                    {% else %}
                        {% set middle = firstmiddle[1]|trim('.') %}
                    {% endif %}
                {% endif %}
            {% endif %}

        <tr>
            <td>{{author.lastName}}</td>
            <td>{{author.lastName}}</td>
            <td>{{ first }}</td>
            <td>{{middle}}</td>
            <td></td>
        </tr>
        {% endfor %}
    </tbody>
</table>