<div id='list-pnl' class="flex-row pop-out-panel closed">
    <div id="int-lists" class="flex-col flex-wrap">               <!-- Select list -->
        <div class="flex-row spaced">
            <button id="svd-list-hlp" class="tbl-bttn hlp-bttn">?</button>
            <span style="flex-grow: 1;"></span>
            <span><b>Select List of Interaction Data</b></span>
            <span style="flex-grow: 1.6;"></span>
        </div>
        <div id='sel-list-cntnr' class="flex-col">
            <select id="sel-InteractionList" class="int-list-sel field-input"></select>
            <button id="load-list" class="tbl-bttn" disabled="true">
                Load Interaction List in Table
            </button>
        </div>
    </div>
    <div id="list-details" class='flex-col'>                      <!-- List details -->
        <span>List Details</span>
        <div id="top-details" class="flex-row">
            <span>List Name: </span>
            <input type="text" placeholder="Display Name" class="field-input">
        </div>
        <div class="flex-row">
            <span>Description: </span>
            <textarea class="field-input" placeholder="Description"></textarea>
        </div>
        <div id="list-count" class="flex-row">
            <span>Interactions: </span>
            <span id="int-list-cnt"></span>
        </div>
    </div>
    <div id="mod-list-pnl" class="flex-col">                                <!-- Add to / remove from list -->
        <span><b>Modify List Data</b></span>
        <div id="mod-opts-cntnr" class="flex-col">
            <div id="mod-mode">Add Interactions to List:</div>
            <div id="mod-radios" class="flex-row">
                <input name="mod-list" type="radio" id="mod-all-list">
                <label for="mod-all-list">All Shown</label>
                <input name="mod-list" type="radio" id="mod-some-list">
                <label for="mod-some-list">Select Rows</label>
                <button id="unsel-rows" class="tbl-bttn" disabled="disabled">
                    Unselect All
                </button>
            </div>
        </div>
        <span id="mod-info"></span>
        <div class="flex-row submit-cntnr">
            <button id="delete-list" class="tbl-bttn">
                Delete
            </button>
            <div id="list-confm-cntnr">
                <button id="confm-list-delete" class="tbl-bttn">
                    Confirm
                </button>
                <button id="cncl-list-delete" class="tbl-bttn">
                    Cancel
                </button>
            </div>
            <div class="flex-row">
                <span id="list-submit-msg" class="pnl-submit-msg">&#10004;</span>
                <button id="submit-list" class="tbl-bttn">
                    Save List
                </button>
            </div>
        </div>
    </div>
</div>