{% extends "layout.html.twig" %}

{% set authority = entity %}

{% block detail %}
    <ul class="record_actions">
        {{ form(edit_form) }}
</ul>
    <p><a href="{{ path('app_authority_show', { 'id': authority.id}) }}"> Return to {{ authority }} </a></p>
{% endblock detail %}

{% block sidebar %}
    <h3><a href="{{ path('app_authority') }}">View All Authorities</a></h3>
{% endblock sidebar %}
