{% extends "layout.html.twig" %}

{% set authorities = entities %}

{% block detail %}
    <ul>
        {% for authority in authorities %}
            <li>
                <a href="{{ path('app_authority_show', { 'id': authority.id }) }}">{{ authority }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock detail %}

{% block adminlnks %}
    {% if is_granted('ROLE_ADMIN') %}
        <h3>Admin Links</h3>
<a href="{{ path('app_authority_new') }}">Add Authority</a>
    {% endif %}
{% endblock adminlnks %}
