{% extends "layout.html.twig" %}

{% set imageUploads = entities %}

{% set new_ent_route = path('app_image_upload_new') %}
{% set this_ent_plural = 'Image Uploads' %}
{% set this_ent_singl = 'Image Upload' %}
{% block headline %}
	{{ include('idx_headline.html.twig') }}
{% endblock headline %}

{% block detail %}
	<ul>
        {% for imageUpload in imageUploads %}
            <li class="top-em-mrg">
                <a href="{{ path('app_image_upload_edit', { 'id': imageUpload.id }) }}">{{ imageUpload }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock detail %}
