{% extends "layout.html.twig" %}

{% set namingtype = entity %}

{% block detail %}
    <ul class="record_actions">
        {{ form(edit_form) }}
    </ul>
    <p><a href="{{ path('app_naming_type_show', { 'id': namingtype.id }) }}"> Return to {{ namingtype }}</a></p>
{% endblock detail %}

{% block sidebar %}
    <h3><a href="{{ path('app_naming_type') }}">View All Naming Types</a></h3>
{% endblock sidebar %}

