{% extends "layout.html.twig" %}

{% block detail %}
    <ul class="record_actions">
        {{ form(form) }}
    </ul>
{% endblock detail %}
{% block sidebar %}
    <h3><a href="{{ path('app_naming_type') }}">View All Naming Types</a></h3>
{% endblock sidebar %}
