/* ---- Selectize ----------------------------------------------------------- */
.selectize-input {
    padding: 4px 33px 4px 4px !important;
}
.selectize-input, .selectize-control.single .selectize-input.input-active {
    display: inline-flex;
}
.selectize-dropdown {
    z-index: 1111;
}
/* -------------- Search Options -------------------------------------------- */
#db-opts {  /* .flex-row also on elem */
    margin: 1em auto 0 auto;
    width: 100%;
    min-width: 1205px;
    font-size: 1.1em;
}
#db-opts button {
    height: 29px;
}
#help-opts {
    padding: 5px 5px 5px 0;
}
#misc-opts {
    padding: 5px;
}
input[type="radio"], input[type="checkbox"] {
    margin-right: 0;
}
.focus-sel {
    width: 88px;
    margin: 0 .5em 0 .5em;
}
.view-sel {
    width: 108px;
    margin-left: .5em;
}
/*------- Table Tool Bar --------- */
#tool-bar {
    margin: .7em auto .2em auto;
    padding: .1em;
    width: 100%;
    height: 28px;
    font-size: 1.1em;
}
#tbl-cnt {
    padding-top: 4px;
    font-size: .9em;
    color: #666;
}
#view-fltr {
    font-size: .9em;
    color: #666;
    margin-right: 3px;
    padding-top: 0px;
}
#tbl-status {
    flex-grow: 1;
    padding: .2em;
}
#xtrnl-filter-status {
    flex-shrink: 1;
    margin-right: .3em;
}
#tbl-filter-status {
    flex-grow: 1;
    max-width: 825px;
}
/*------------ Buttons ----------------------*/
.ico-bttn {
    padding-top: 3px;
}
.ico-bttn:before {
    float: left;
    margin: 2px 5px 0 0;
}
#filter:before {
    content: url(../../images/icons/filter.svg);
    width: 15px;
}
button[name="reset-tbl"]:before, button[name="clear-list"]:before{
    content: url(../../images/icons/undo-alt.svg);
    width: 15px;
    margin: 2px;
}
button[name="csv"]:before {
    content: url(../../images/icons/file-download.svg);
    width: 12px;
}
#new-data:before {
    content: url(../../images/icons/plus.svg);
    width: 14px;
}
#rvw-data:before {
    content: url(../../images/icons/eye.svg);
    width: 19px;
}
#shw-map:before {
    content: url(../../images/icons/globe-africa.svg);
    width: 17px;
}
#data-help:before {
    content: url(../../images/icons/life-ring.svg);
    width: 18px;
    margin-right: 1px;
}
#lists:before {
    content: url(../../images/icons/tasks.svg);
    width: 16px;
}
button[name="xpand-all"] {
    width: 105px;
}
button[name="xpand-1"], button[name="collapse-1"] {
    font-weight: 600;
}
button[name="show-hide-col"] {
    opacity: .5;
    cursor: not-allowed;
}
#xpand-tree button {
    margin: 0em;
}
#xpand-tree {
    margin-right: .3em;
}
.skipFormData {
    color: slategray;
    padding-top: .5em;
}
/**------------------------------ Table Styes ------------------------------- */
#db-view {
    height: 86vh;
    border: black 1px solid;
}
#search-tbl {
    height: 100%;
}
.tbl-edit {
    height: 22px;
    width: 20px;
    position: relative;
    left: 9px;
}
.ag-menu{
    z-index: 100;
}
.row-purple {
    background-color: rgba(128,0,128,.13) !important; /* purple */
}
.row-green {
    background-color: rgba(0,128,0,.15) !important; /* green */
}
.row-blue {
    background-color: rgba(0,0,255,.15) !important; /* blue */
}
.row-orange {
    background-color: rgba(255,128,0,.17) !important; /* orange */
}
.row-turquoise {
    background-color: rgba(0,245,255,.11) !important; /* turquoise */
}
.row-yellow {
    background-color: rgba(255,255,0,.2) !important; /* yellow */
}
.row-red {
    background-color: rgba(255,0,0,.15) !important; /* red */
}
/**-------------------------------- Data Map Styes -------------------------- */
#map {
    height: 100%;
}
/* -------- Legend Styles -------- */
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    color: #555;
    background: white;
    background: rgba(255,255,255,0.7);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px 5px !important;
    color: #777;
}
.legend {
    line-height: 18px;
}
#int-legend span {
    padding-left: 16px;
}
.legend i {
    border-radius: 50%;
    width: 18px;
    height: 18px;
    float: left;
    margin: 2px 8px 2px 8px;
    padding-right: 3px;
    opacity: 0.8;
}
#filter-in-tbl-msg {
    position: absolute;
    top: 101px;
    left: 810px;
}
/* ------ Hover Tooltip ----------- */
.info-tooltip {
    font-size:1.2em;
}
.info-tooltip div.tip {
    display: none;
    background: white;
    color: #333;
    box-shadow: 0 3px 14px rgba(0,0,0,0.4);
    text-align: left;
    border-radius: 12px;
    padding: 13px 19px;
    line-height: 1.4;
    z-index: 50;
}
.info-tooltip:hover {
    position:relative;
    cursor: pointer;
}
.info-tooltip:hover div.tip {
    position:absolute;
    top: 18px;
    left: 22px;
    display:block;
    width: 333px;
}
.popup-bttn {
    font-size: 14px !important;
}
/*----------------------- Search Table Popup ---------------------------------*/
#db-popup {
    background: #FFF;
    display: none;
    position: relative;
    z-index: 2000;
    text-align: center;
    font-size: 20px;
    box-shadow: 3px 3px 20px 1px rgba(0,0,0,0.75);
    bottom: 75%;
    left: 45%;
    width: 500px;
    height: 100px;
    padding: 22px;
    margin-left: -150px;
    margin-top: -50px;
    border-radius: 5px;
}
#db-overlay {
    display: none;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: grey;
    width: 100%;
    height: 91%;
    opacity: .2;
}
/*-------------------------- Database CRUD Popup -----------------------------*/
#top-hdr {
    font-size: 1.3em;
    margin-bottom: 1em;
}
#success {
    margin-bottom: 15px;
    font-weight: bold;
    border: 2px solid;
    padding: 10px;
    display: none;
}
#success>div {
    justify-content: space-between;
}
#success>div>p {
    padding-top: 6px;
}
.form-popup [id$="-hdr"] {
    margin-bottom: 10px;
    text-align: center;
    padding-top: 4px;
}
#form-details {
    flex: 1 1 333px;
    margin: .5em .2em 0 .2em;
    padding: 0 .5em .5em .5em;
    overflow-y: scroll;
    overflow-x: hidden;
}
#form-details h3 {
    text-align: center;
    font-size: 1.15em;
    margin-bottom: .5em;
}
#form-details p {
    color: darkgrey;
    text-align: right
}
.det-div {
    min-height: 50px;
    margin: .5em 0 1em 0;
}
.det-div div {
    padding: .5em 0 0 .5em;
}
.det-div div li {
    padding: .2em
}
.cnt-div {
    margin: .5em;
}
.cnt-div div, .cnt-div span {
    padding: .25em;
    width: 44px;
    text-align: right
}
/*------------------------------- Form Styles --------------------------------*/
#top-form {
    font-size: 1em;
    flex-wrap: wrap;
}
.exit-row {
    width: 100%;
    justify-content: flex-end;
    display: flex;
}
.exit-bttn {
    width: 2em;
    height: 2em;
    font-weight: bold;
}
#exit-sub-form {
    position: relative;
    left: 24%;
    font-size: .75em !important;
}
[id$="_row"] {
    padding: .2em .75em .3em  .75em;
    width: 100%;
}
#sub-hdr, #sub2-hdr {
    font-size: 1.1em;
}
form[name="top"] p, form[name="top"] .bttn-cntnr {
    width: 100%;
}
.all-fields-cntnr {
    padding-top: 1em;
}
.field-row {
    justify-content: space-between;
    margin-top: .3em;
}
[id$="-sel-cntnr"]>div {
    margin-top: .5em
}
/** ------------ Error Styles -------------- */
[id$="_errs"] {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    color: red;
}
[id$="_errs"] span {
    margin-top: .3em;
    justify-content: center;
}
[class$="active-errs"] {
    padding: .3em;
    margin-bottom: .3em;
}
[id$="_errs"]>p {
    padding-top: .4em;
    width: initial !important;
}
#data_errs .exit-bttn {
    width: 3em;
}
.err-exit {
    color: darkred;
    height: 1.75em;
    width: 1.7em;
    margin-left: 1em !important;
}
/** ------------- Field Styles ------------- */
.top-pin {
    margin: .6em 0 0 .6em !important;
}
#top-form input, #top-form select, #top-form textarea {
    padding: .2em;
    margin: 0;
    font-size: .95em;
}
#Note-txt {
    border-color: #b8b8b8;
}
.bttn-cntnr {
    align-self: flex-end;
    padding: 10px;
}
.bttn-cntnr input {
    padding: 3px !important;
    margin: 3px !important;
}
/*----------------- Form specific styles -----------------------*/
#Authors-lbl, #Editors-lbl {
    padding-top: .7em;
}
#Authors-sel-cntnr, #Editors-sel-cntnr {
    width: 329px;
}
/**--- Taxon Edit-Form ---*/
.pTaxon#sub-form {
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid grey;
    border-radius: 5px;
    margin: .5em;
    padding: .5em;
}
.pTaxon #sub2-form {
    left: -.5em;
    position: relative;
}
.realm-row {
    justify-content: flex-start !important;
}
select[id$="txn-lvl"] + div {
    width: 150px;
}
/*------------- Loc Map Styles ----------------*/
#loc-note {
    margin: .5em auto 0 auto;
    color: slategrey;
}
#loc-note .map-link {
    text-decoration: underline;
    cursor: pointer;
}
#form-map {
    border: 1px grey solid;
    height: 366px;
    width: 92%;
    margin: 1em auto 0 auto;
}
.loc-gps-note {
    width:initial;
    margin:auto;
    text-align: center;
    color: slategrey;
    margin-top: 3px;
}
.new-loc-popup {
    font-size: 1.1em;
}
.new-loc-popup #err {
    color: red;
    padding: 5px 5px 5px 10px;
}
/* ------------- Map Markers ------------- */
.single-marker {
    width: 33px !important;
    height: 33px !important;
    margin-left: -12px;
    margin-top: -15px;
    border-radius: 25px;
    border: 4px solid rgba(181, 226, 140, 0.7);
    text-align: center;
    color: #222;
    padding-top: 4px;
    background-color: rgba(110, 204, 57, 0.9);
    font-size: 11px;
}
.form-noGps {
    width: 33px !important;
    height: 33px !important;
    margin-left: -12px;
    margin-top: -15px;
    border-radius: 25px;
    border: 4px solid rgba(241, 211, 87, 0.7); /*yellow*/
    text-align: center;
    color: #222;
    padding-top: 4px;
    background-color: rgba(240, 194, 12, 0.9);
    font-size: 11px;
}
/* --- Geocoder Search Elem --- */
.leaflet-control-geocoder {
    font-size: 16px;
}
.leaflet-control-geocoder-icon {
    margin: initial;
    padding: initial;
    font-size: initial;
}
/*----------------------------------------------------------------------------*/
/*------------------ Screen Width < 1500px -----------------------------------*/
/* Designed for laptop resolutions as low as 1366x768 and 1334x889 */
@media screen and (max-width: 1500px) {
    /*--------------- Search Page ---------------------*/
    #db-opts {
        /*margin: 1em auto 0 .5em;*/
    }
    #fltr-int-pnl-cntnr #filter-pnl.vert {
        width: 604px;
    }
    #filter-pnl #stored-filters button {
        width: 60px;
    }
    #filter-pnl #stored-filters .saved-filters-sel {
        width: 196px;
    }
    #set-submit-msg+span {
        display: none;
    }
    #focus-filters .taxonLbl {
        width: 257px;
    }
    #focus-filters .taxonSel {
        width: 186px;
    }
    #focus-filters .locLbl {
        width: 267px;
    }
    #focus-filters .locSel {
        width: 201px;
    }
    #list-pnl #list-details textarea {
        width: 333px;
    }
    #list-pnl.vert #list-details textarea {
        width: auto;
        flex-grow: 1;
    }
}
